<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artículos</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                
                <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="../articulos/articulos.html">Artículos</a></li>
                <li><a href="../c_exito/casos_de_exitos.html">Casos de éxito</a></li>
                <li><a href="../../index.html">Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="main_articulos">
        <article class="primerapart_articulos">
            <section class="contenido1">
                <h2>LA BIBLIOTECA DE BABEL: BORGES, EL INTERNET Y EL ABISMO INFORMACIONAL SEGUN BYUNG-CHUL-HAN</h2>
                 <p>Este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas
                    2010 benjamin lacombe este libro trata sobra la tragica vida que sufren personas.
                    este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas
                    2010 benjamin lacombe este libro trata sobra la tragica vida que sufren personas.
                    este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.
                </p>

            </section>

        </article>
        <section class="segundapart_articulos">
            <article>
                <h2>Casos de éxito</h2>
                <div class="contenedor"> <!-- inicio cambios -->
                    <div class="contenido">
                        <img src="" alt="Imagen">
                        <h5>Título</h5>
                        <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim magnis augue. </p>
                    </div>
                    <div class="contenido">
                        <img src="" alt="Imagen">
                        <h5>Título</h5>
                        <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim magnis augue. </p>
                    </div>
                    <div class="contenido">
                        <img src="" alt="Imagen">
                        <h5>Título</h5>
                        <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim magnis augue. </p>
                    </div>
                </div><!-- final cambios -->
            </article>
        </section> 
        <section class="tercerapart_articulos">
            <article class="contenedor"><!-- se añadió la clase contenedor -->
                <figure><img src="https://via.placeholder.com/150" alt=""></figure>
                <section class="contenido">
                    <h2>Título</h2>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.</p>
                </section>
            </article>
            <article class="contenedor"><!-- se añadió la clase contenedor -->
                <figure><img src="https://via.placeholder.com/150" alt=""></figure>
                <section class="contenido">
                    <h2>Título</h2>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.</p>
                </section>
            </article>

            
        </section>
        <section class="cuartapart_articulos">
            <article>
                <h2>Título</h2>
                este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p>
                <p></p>
            </article>
            <article>

                <h2>Título</h2>
                este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p>
                <p></p>
            </article>
            <article>
                <h2>Título</h2>
                este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p>
                <p></p>
            </article>
            <article>
                <h2>Título</h2>
                este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p>
                <p></p>
            </article>

        </section>
    </main>
    <footer>
        <img src="#" alt="Logo">

        <img src="#" alt="Facebook">
        <img src="#" alt="Google">
        <img src="#" alt="X">
        <img src="#" alt="Puntos raros">
        <p>©Copyright All rights reserved.</p>
    </footer>
    
</body>
</html>