<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artículos</title>
    <link rel="stylesheet" href="/public/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                
                <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="../articulos/articulos.html">Artículos</a></li>
                <li><a href="../c_exito/casos_de_exitos.html">Casos de éxito</a></li>
                <li><a href="../../index.html">Home</a></li>
            </ul>
        </nav>
    </header>

    <main class="main_articulos">
        <article class="primerapart_articulos">
            <section class="contenido1">
                <h2>FANTASMAS DE JAPÓN</h2>
                 <!-- <p>este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas
                    2010 benjamin lacombe este libro trata sobra la tragica vida que sufren personas.
                    este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas
                    2010 benjamin lacombe este libro trata sobra la tragica vida que sufren personas.
                    este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p> -->

            </section>

        </article>
        <section class="segundapart_articulos">
            <article>
                <h2>Caso de éxito</h2>
            </article>
        </section> 
        <section class="tercerapart_articulos">
            <article>
                <figure><img src="../../assets/imagenes/Rectangle 64.png" alt=""></figure>
                <section class="contenido">
                    <h2>Título</h2>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.</p>
                </section>
            </article>
            <article>
                <figure><img src="../../assets/imagenes/Rectangle 64.png" alt=""></figure>
                <section class="contenido">
                    <h2>Título</h2>
                    <p>Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.</p>
                </section>
            </article>

            
        </section>
        <section class="cuartapart_articulos">
            <article>
                <h2>Título</h2>
                este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p>
                <p></p>
            </article>
            <article>

                <h2>Título</h2>
                este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p>
                <p></p>
            </article>
            <article>
                <h2>Título</h2>
                este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p>
                <p></p>
            </article>
            <article>
                <h2>Título</h2>
                este libro trata sobra la tragica vida que sufren personas antes de morir y convertirse en fantasmas.</p>
                <p></p>
            </article>

        </section>
    </main>
    <footer>
        <img src="#" alt="Logo">

        <h4>WEEBLY THEMES <br>
            PRE-SALE FAQS <br>
            SUBMIT A TICKET</h4>

        <h4>SERVICES <br>
            THEME TWEAK</h4>

        <h4>SHOWCASE <br>
            WIDGET KIT SUPPORT</h4>

        <h4>ABOUT US <br> 
            CONTACT US <br>
            AFFILIATES RESOURCES</h4>



        <img src="#" alt="Facebook">
        <img src="#" alt="Google">
        <img src="#" alt="X">
        <img src="#" alt="Puntos raros">
        <p>©Copyright All rights reserved.</p>
    </footer>
    
</body>
</html>