<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1</title>
    <link rel="stylesheet" href="assets/estilos/styles.css">
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body class="articulos">
    <header>
        <img src="../../assets/imagenes/logo fondo claro.png" alt="portada">
        <div class="btn-barra-lateral">
            <img src="../../assets/imagenes/Icono_menu.png" alt="hamburguesa">
            <div class="contenido-bar">
                <nav>
                    <ul>
                        
                        <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                        <li><a href="../articulos/leer_articulos.html">Leer Articulos</a></li>
                        <li><a href="../autores/autores.html">Autores</a></li>
                        <li><a href="../informacion/informacion.html">Informacion</a></li>
                        <li><a href="../../index.html">home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <main>
        <section>
            <div class="ce">
                <img src="../../assets/imagenes/prueba-vertical.jpeg" alt="IMG">
                <div class="txt">
                    <h3>LA BIBLIOTECA DE BABEL: BORGES, EL INTERNET Y EL ABISMO INFORMACIONAL SEGUN BYUNG-CHUL-HAN</h3>
                    <p>La “Biblioteca de Babel” de Jorge Luis Borges no solo es un relato 
                        de ficción, sino una alegoría atemporal de la acumulación de 
                        información sin sentido. En un mundo interconectado como el nuestro, 
                        la obra de Borges y las reflexiones filosóficas de Byung-Chul Han 
                        sobre la sobrecarga de información nos llevan a cuestionarnos si el 
                        acceso ilimitado al conocimiento nos acerca más a la verdad o nos 
                        hunde en el sinsentido.</p>
                </div>
                <button class="boton_LeerMas">Leer más</button>
            </div>
        </section>
    
        <section class="barra_de_separacion">
            <h2>Casos de Exito</h2>
        </section>
    
    
        <section>
            <div class="excelsiur">
                <div class="ce1">
                    <img src="../../assets/imagenes/prueba-horizontal.jpeg" alt="IMG">
                    <div class="cnt">
                        <div class="txt">
                            <h3>El Mito de Sísifo: Cuando la Rutina se Vuelve Castigo</h3>
                            <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, 
                                quam volutpat dui fames enim magnis augue.</p>
                        </div>
                    </div>
                </div>
                <div class="ce1">
                    <img src="../../assets/imagenes/prueba-horizontal.jpeg" alt="IMG">
                    <div class="cnt">
                        <div class="txt">
                            <h3>El Mito de Sísifo: Cuando la Rutina se Vuelve Castigo</h3>
                            <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, 
                                quam volutpat dui fames enim magnis augue.</p>
                        </div>
                    </div>
                </div>
                <div class="ce1">
                    <img src="../../assets/imagenes/prueba-horizontal.jpeg" alt="IMG">
                    <div class="cnt">
                        <div class="txt">
                            <h3>El Mito de Sísifo: Cuando la Rutina se Vuelve Castigo</h3>
                            <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, 
                                quam volutpat dui fames enim magnis augue.</p>
                        </div>
                    </div>
                </div>
                <div class="ce1">
                    <img src="../../assets/imagenes/prueba-horizontal.jpeg" alt="IMG">
                    <div class="cnt">
                        <div class="txt">
                            <h3>El Mito de Sísifo: Cuando la Rutina se Vuelve Castigo</h3>
                            <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, 
                                quam volutpat dui fames enim magnis augue.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    
    
        <section>
            <div class="ce">
                <img src="../../assets/imagenes/prueba-vertical.jpeg" alt="IMG">
                <div class="txt">
                    <h3>LA BIBLIOTECA DE BABEL: BORGES, EL INTERNET Y EL ABISMO INFORMACIONAL SEGUN BYUNG-CHUL-HAN</h3>
                    <p>La “Biblioteca de Babel” de Jorge Luis Borges no solo es un relato 
                        de ficción, sino una alegoría atemporal de la acumulación de 
                        información sin sentido. En un mundo interconectado como el nuestro, 
                        la obra de Borges y las reflexiones filosóficas de Byung-Chul Han 
                        sobre la sobrecarga de información nos llevan a cuestionarnos si el 
                        acceso ilimitado al conocimiento nos acerca más a la verdad o nos 
                        hunde en el sinsentido.</p>
                </div>
                <button class="boton_LeerMas">Leer más</button>
            </div>
        </section>
    
    
    
        <section>
            <div class="ce">
                <img src="../../assets/imagenes/prueba-vertical.jpeg" alt="IMG">
                <div class="txt">
                    <h3>LA BIBLIOTECA DE BABEL: BORGES, EL INTERNET Y EL ABISMO INFORMACIONAL SEGUN BYUNG-CHUL-HAN</h3>
                    <p>La “Biblioteca de Babel” de Jorge Luis Borges no solo es un relato 
                        de ficción, sino una alegoría atemporal de la acumulación de 
                        información sin sentido. En un mundo interconectado como el nuestro, 
                        la obra de Borges y las reflexiones filosóficas de Byung-Chul Han 
                        sobre la sobrecarga de información nos llevan a cuestionarnos si el 
                        acceso ilimitado al conocimiento nos acerca más a la verdad o nos 
                        hunde en el sinsentido.</p>
                </div>
                <button class="boton_LeerMas">Leer más</button>
            </div>
        </section>
    
    
        <section>
            <div class="ce">
                <img src="../../assets/imagenes/prueba-vertical.jpeg" alt="IMG">
                <div class="txt">
                    <h3>LA BIBLIOTECA DE BABEL: BORGES, EL INTERNET Y EL ABISMO INFORMACIONAL SEGUN BYUNG-CHUL-HAN</h3>
                    <p>La “Biblioteca de Babel” de Jorge Luis Borges no solo es un relato 
                        de ficción, sino una alegoría atemporal de la acumulación de 
                        información sin sentido. En un mundo interconectado como el nuestro, 
                        la obra de Borges y las reflexiones filosóficas de Byung-Chul Han 
                        sobre la sobrecarga de información nos llevan a cuestionarnos si el 
                        acceso ilimitado al conocimiento nos acerca más a la verdad o nos 
                        hunde en el sinsentido.</p>
                </div>
                <button class="boton_LeerMas">Leer más</button>
            </div>
        </section>
    </main>


    <footer>
        <img src="../../assets/imagenes/Capa_2.png" alt="Logo">
        <div class="info">
            <h4>©Copyright</h4>
            <h4>Nosotros</h4>
            <h4>Caracteres</h4>
        </div>
        <div class="canales">
            <img src="../../assets/imagenes/image 76.png" alt="facebook">
            <img src="../../assets/imagenes/image 73.png" alt="insta">
            <img src="../../assets/imagenes/image 74.png" alt="x">
        </div>

    </footer>

</body>
</html>
