<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artículos</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body class="leer_articulos">
    <header>
        <img src="../../assets/imagenes/logo fondo claro.png" alt="portada">
        <div class="btn-barra-lateral">
            <img src="../../assets/imagenes/Icono_menu.png" alt="hamburguesa">
            <div class="contenido-bar">
                <nav>
                    <ul>
                        
                        <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                        <li><a href="../articulos/articulos.html">Articulos</a></li>
                        <li><a href="../autores/autores.html">Autores</a></li>
                        <li><a href="../informacion/informacion.html">Informacion</a></li>
                        <li><a href="../../index.html">home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <img src="../../assets/imagenes/Vector 23.png" alt="portada">

    <main class="main_articulos">
        <article class="primerapart_articulos">
            <section class="contenido1">
                <h2>Más Allá del Humano: El Valle Inquietante como Estética y 
                    sus Ecosen las Artes Gráficas</h2>
                <h3>Mutarte Editorial | 08/11/24</h3>
                <p>El “Valle Inquietante” no solo es un término técnico, sino 
                    una estética que confronta la frontera entre lo humano y lo 
                    artificial. Hoy, este concepto pervade el cine, el arte digital 
                    y las gráficas contemporáneas, lanzándonos a un juego entre lo 
                    familiar y lo alienante. ¿Qué nos dice esta paradoja visual sobre 
                    nuestras propias percepciones y miedos?</p>

            </section>

        </article>
        <img src="../../assets/imagenes/img_arti.png" alt="img">
        <section class="segundapart_articulos">
            <img src="../../assets/imagenes/Vector 35.png" alt="img" class="amarillo">
            <img src="../../assets/imagenes/Vector 33.png" alt="img" class="verde">
            <div class="txt">
                <h3>La Incomodidad Visual en las Artes Gráficas:Elementos y Exponentes</h3>
                <p>Simon Stålenhag, el ilustrador 
                    sueco conocido por sus paisajes 
                    futuristas poblados de robots y 
                    estructuras semiabandonadas, 
                    ejemplifica este concepto en sus
                    obras. Los paisajes naturales se 
                    mezclan con criaturas mecánicas,
                    cuyos ojos y gestos nos recuerdan 
                    vagamente a seres vivos, pero la
                    estructura robótica las vuelve
                    irreconocibles. Estos híbridos
                    tecnológicos parecen observarnos,
                    pero sus ojos sin emoción evocan
                    esa paradoja del Valle Inquietante.
                    En sus ilustraciones, vemos un
                    mundo familiar, un entorno
                    postapocalíptico que pudo haber
                    sido el nuestro, y una estética
                    casi orgánica pero definitivamente
                    mecánica.</p>
            </div>
        </section> 
        <img src="../../assets/imagenes/img_arti2.png" alt="img">
        <section class="tercerapart_articulos">
            <div class="txt">
                <div class="subti">
                    <h4>Con una duda:  </h4>
                </div>
                <div class="parrafo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. 
                        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis 
                        ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam 
                        quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna 
                        interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit 
                        amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut 
                        diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus 
                        orci facilisis id.</p>
                </div>
            </div>
            <img src="../../assets/imagenes/Vector 35-2.png" alt="img" class="rosa">
            <img src="../../assets/imagenes/Vector 33-2.png" alt="img" class="verde2">
        </section>
    </main>



    <footer>
        <img src="../../assets/imagenes/Capa_2.png" alt="Logo">
        <div class="info">
            <h4>©Copyright</h4>
            <h4>Nosotros</h4>
            <h4>Caracteres</h4>
        </div>
        <div class="canales">
            <img src="../../assets/imagenes/image 76.png" alt="facebook">
            <img src="../../assets/imagenes/image 73.png" alt="insta">
            <img src="../../assets/imagenes/image 74.png" alt="x">
        </div>

    </footer>
    
</body>
</html>
