<div class="btn-barra-lateral" id="btn-menu">
    <img src="/assets/iconos/Icono_menu.png" alt="hamburguesa" class="hamburguesa">
    <div class="contenido-bar" id="menu">
        <img src="/assets/iconos/close.png" alt="Cerrar menú" class="btn-cerrar-menu">
        <nav>
            <ul>
                <li><a href="/templates/tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="/templates/articulos/articulos.html">Artículos</a></li>
                <li><a href="/templates/c_exito/casos_de_exitos.html">Casos de éxito</a></li>
                <li><a href="/index.html">Home</a></li>
            </ul>
        </nav>
    </div>
</div>