<div class="btn-barra-lateral" id="btn-menu">
    <img src="/assets/iconos/Icono_menu.png" alt="hamburguesa" class="hamburguesa">
    <div class="contenido-bar" id="menu">
        <img src="/assets/iconos/close.png" alt="Cerrar menú" class="btn-cerrar-menu">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li>
                    <a href="/articulos">Artículos</a>
                    <button class="toggle-submenu" data-target="#articulos-submenu">+</button>
                    <ul id="articulos-submenu" class="submenu">
                        <li><a href="/articulos/leer">Literatura</a></li>
                        <li><a href="#">Ilustración</a></li>
                        <li><a href="#">Tecnología</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/tutoriales">Tutoriales</a>
                    <button class="toggle-submenu" data-target="#tutoriales-submenu">+</button>
                    <ul id="tutoriales-submenu" class="submenu">
                        <li><a href="/tutoriales/textuales">Textuales</a></li>
                        <li><a href="/tutoriales/videos">Videos</a></li>
                    </ul>
                </li>
                <li><a href="/autores">Autores</a></li>
                <li><a href="/casos-de-exito">Casos de Éxito</a></li>
                <li><a href="/informacion">Información</a></li>
                <li><a href="/login">Iniciar Sesión</a></li>
                <li><a href="/signup">Registrarse</a></li>
            </ul>
        </nav>
    </div>
</div>
