<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>

<body>
    <header>
        <img src="#" alt="#">
        <nav>
            <ul>
                <li><a href="./templates/tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="./templates/articulos/articulos.html">Articulos</a></li>
                <li><a href="./templates/c_exito/casos_de_exitos.html">Casos de exito</a></li>
                <li><a href="./index.html">home</a></li>
            </ul>
        </nav>
    </header>
    <main class="mainLectura">
        <section class="img_principal">
            <img src="../../assets/imagenes/imageload.jpg" alt="#">
        </section>
        <section class="articulo_intro">
            <h1>Titulo</h1>
            <h2>Autor | 1/11/24</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae
                mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum
                eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at
                sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu
                eros, eget tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
                mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
                leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit
                amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel
                euismod erat placerat. </p>
        </section>
        <section class="articulos_contenedor">
            <section class="articulo_parrafo">
                <h2>
                    Subtitulo
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae
                    mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
                    interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque
                    commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat
                    placerat. In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
                    fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis
                    imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur
                    pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales
                    sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros,
                    eget tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
                    mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                    ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
                    leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit
                    amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel
                    euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                    sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
                    quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur
                    pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales
                    sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros,
                    eget tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
                    mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                    ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
                    leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit
                    amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentun.</p>
            </section>
            <section class="articulo_parrafo">
                <h2>
                    Subtitulo
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
                    Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae
                    mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna
                    interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque
                    commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat
                    placerat. In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien
                    fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis
                    imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur
                    pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales
                    sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros,
                    eget tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
                    mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                    ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
                    leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit
                    amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel
                    euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet
                    sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam
                    quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur
                    pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales
                    sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros,
                    eget tempus orci facilisis id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa
                    mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur,
                    ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare
                    leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit
                    amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentun.</p>
            </section>
            <section class="image_articulo">
                <img src="../../assets/imagenes/imageload.jpg" alt="#">
            </section>
            <section class="articulo_parrafo">
                <h2>
                    Subtitulo
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aut et amet porro dolorum
                    obcaecati
                    earum quam quae provident perferendis.</p>
            </section>
            <section class="articulo_testimonio">
                <h1>TESTIMONIO</h1>
            </section>
            <section class="articulo_parrafo">
                <h2>
                    Subtitulo
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aut et amet porro dolorum
                    obcaecati
                    earum quam quae provident perferendis.</p>
            </section>
        </section>


    </main>
    <footer>
        <img src="" alt="">
        <h4>Copyright</h4>
        <h4>Nosotros</h4>
        <h4>Caracteres</h4>
        <img src="" alt="">
        <img src="" alt="">

    </footer>

</body>

</html>