<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/frontend.css">
    <title>Registro</title>
</head>
<body >
    <main class="singin">
        <form>
            <h1>SIGN UP</h1>
            <input type="text" id="nombre" name="nombre" placeholder="Introduce tu nombre">
            <input type="email" id="email" name="email" placeholder="Introduce tu email">
            <input type="tel" id="telefono" name="telefono" placeholder="Introduce tu número de teléfono">
            <!-- se añadio un div para que al  mostrar contraseña este dentro "dentro del placeholder" sophie 19/11/24 -->
            <div class="password-container"> <input type="password" id="password" name="password" placeholder="Introduce tu contraseña">
                <button type="button" id="toggle-password"></button> 
            </div>
            <button type="submit">Sign Up</button>
            <p class="orwith">or with</p>
            <button type="submit">Sign Up with Google</button>
            <p class="center">¿Tienes cuenta? <a href="../../templates/log_in/log_in.html">Log In</a></p>
        </form>
    </main>
</body>
</html>