<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artículos</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body class="leer_tutorial_video">
    <header>
        <img src="../../assets/imagenes/logo fondo claro.png" alt="portada">
        <div class="btn-barra-lateral">
            <img src="../../assets/imagenes/Icono_menu.png" alt="hamburguesa">
            <div class="contenido-bar">
                <nav>
                    <ul>
                        
                        <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                        <li><a href="../articulos/leer_articulos.html">Articulos</a></li>
                        <li><a href="../autores/autores.html">Autores</a></li>
                        <li><a href="../informacion/informacion.html">Informacion</a></li>
                        <li><a href="../../index.html">home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <article>
            <video controls>
                <source src="#" type="video/webm">
                <source src="#" type="video/mp4">
            </video>
            <section class="barra-separadora">
                <h3>09/11/2024</h3>
            </section>
            <section class="cont">
                <h2>¿JesuCristo?</h2>
                <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, 
                    quam volutpat dui fames enim magnis augue. </p>
            </section>
            <div class="sub">
                <h2>Con una duda:</h2>
            </div>
            <div class="parrafo">
                <p>¿Cual es la influencia del arte y la cultura en las materias STEM? En pocas palabras, 
                    a través de episodios como: "Con los lenguajes de programación... 
                    ¿Se puede hacer poesía?" o "El fin último de una profesión: ¿El paper 
                    científico?" se saca a la ciencia de su zona de confort, mientras el 
                    proceso se vuelve un viaje personal.
                    En esta ocasión, junto con Juan Pablo Vargas Rollano (escritor), nos 
                    cuestionamos sobre la belleza detrás de los lenguajes de programación 
                    ¿Existirá alguna?</p>
            </div>
        </article>
    </main>

    <footer>
        <img src="../../assets/imagenes/Capa_2.png" alt="Logo">
        <div class="info">
            <h4>©Copyright</h4>
            <h4>Nosotros</h4>
            <h4>Caracteres</h4>
        </div>
        <div class="canales">
            <img src="../../assets/imagenes/image 76.png" alt="facebook">
            <img src="../../assets/imagenes/image 73.png" alt="insta">
            <img src="../../assets/imagenes/image 74.png" alt="x">
        </div>

    </footer>


</body>
</html>
