<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Tutorial</title>
</head>
<body>
    <header>
        <img src="./assets/imagenes/logo fondo claro.png" alt="portada" class="logo">
        <div class="btn-barra-lateral">
            <img src="./assets/iconos/Icono_menu.png" alt="hamburguesa">
            <div class="contenido-bar">
                <nav>
                    <ul>
                        
                        <li><a href="./templates/tutorial/tutorial.html">Tutoriales</a></li>
                        <li><a href="./templates/articulos/articulos.html">Articulos</a></li>
                        <li><a href="./templates/c_exito/casos_de_exitos.html">Casos de exito</a></li>
                        <li><a href="./index.html">home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <seccion class="primera_parte_leer_tut_escritomob">
            <article class="imagen_leer_tut_escritomob">
                <img src="#" alt="">
            </article>
            <article class="fecha">
                <h6>23/11/2024</h6>
            </article>
            <article class="barra_artistas">
                <h4>Titulo</h4>
            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias facilis nemo quaerat totam impedit quo enim accusantium, eligendi officiis incidunt.</p>
            </article>
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <article>
                <h6>Subtítulo</h6>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam nulla asperiores quae aliquid earum officiis exercitationem corrupti temporibus. Ullam eveniet voluptatibus quidem ab corporis harum pariatur earum omnis dolor, porro nisi ducimus illo inventore velit delectus? Aliquid exercitationem nihil aut ab mollitia quod perspiciatis molestiae eveniet atque commodi? Voluptas?</p>
            </article>
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <article>
                <h6>Subtítulo</h6>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam nulla asperiores quae aliquid earum officiis exercitationem corrupti temporibus. Ullam eveniet voluptatibus quidem ab corporis harum pariatur earum omnis dolor, porro nisi ducimus illo inventore velit delectus? Aliquid exercitationem nihil aut ab mollitia quod perspiciatis molestiae eveniet atque commodi? Voluptas?</p>
            </article>
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <article>
                <h6>Subtítulo</h6>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam nulla asperiores quae aliquid earum officiis exercitationem corrupti temporibus. Ullam eveniet voluptatibus quidem ab corporis harum pariatur earum omnis dolor, porro nisi ducimus illo inventore velit delectus? Aliquid exercitationem nihil aut ab mollitia quod perspiciatis molestiae eveniet atque commodi? Voluptas?</p>
            </article>
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <article>
                <h6>Subtítulo</h6>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam nulla asperiores quae aliquid earum officiis exercitationem corrupti temporibus. Ullam eveniet voluptatibus quidem ab corporis harum pariatur earum omnis dolor, porro nisi ducimus illo inventore velit delectus? Aliquid exercitationem nihil aut ab mollitia quod perspiciatis molestiae eveniet atque commodi? Voluptas?</p>
            </article>
        </seccion>
    </main>

    <footer>
        <img src="./assets/imagenes/logo fondo claro.png" alt="Logo">
        <div class="info">
            <h4>©Copyright</h4>
            <h4>Nosotros</h4>
            <h4>Caracteres</h4>
        </div>
        <div class="canales">
            <img src="./assets/iconos/facebook.png" alt="facebook">
            <img src="./assets/iconos/pinterest.png" alt="pinterest">
        </div>

    </footer>
</body>
</html>