<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body class="leer_tutorial_escrito">
    <header>
        <img src="../../assets/imagenes/logo fondo claro.png" alt="portada">
        <div class="btn-barra-lateral">
            <img src="../../assets/imagenes/Icono_menu.png" alt="hamburguesa">
            <div class="contenido-bar">
                <nav>
                    <ul>
                        
                        <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                        <li><a href="../articulos/leer_articulos.html">Articulos</a></li>
                        <li><a href="../autores/autores.html">Autores</a></li>
                        <li><a href="../informacion/informacion.html">Informacion</a></li>
                        <li><a href="../../index.html">home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <article>
            <figure>
                <img src="../../assets/imagenes/Mask group.png" alt="Descripción de la imagen"> <!-- Añade el nombre del archivo de la imagen -->
                <figcaption>
                    <time datetime="2024-11-08">08/11/2024</time>
                </figcaption>
            </figure>
            <section>
                <h1>Título</h1>
                <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim magnis augue.</p>
            </section>
            <section class="sub">
                <div class="contenido">
                    <h2>Subtítulo</h2>
                    <div class="sub-cont">
                        <img src="../../assets/imagenes/tuto-escrito.png" alt="img">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et 
                            massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien 
                            fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae 
                            mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare 
                            leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, 
                            at maximus ante fermentum sit amet. Pellentesque commodo lacus at 
                            sodales sodales. Quisque sagittis orci ut diam condimentum, vel 
                            euismod erat placerat. In iaculis arcu eros, eget tempus orci 
                            facilisis id.</p>
                    </div>
                </div>
                <div class="contenido">
                    <h2>Subtítulo</h2>
                    <div class="sub-cont">
                        <img src="../../assets/imagenes/tuto-escrito.png" alt="img">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et 
                            massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien 
                            fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae 
                            mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare 
                            leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, 
                            at maximus ante fermentum sit amet. Pellentesque commodo lacus at 
                            sodales sodales. Quisque sagittis orci ut diam condimentum, vel 
                            euismod erat placerat. In iaculis arcu eros, eget tempus orci 
                            facilisis id.</p>
                    </div>
                </div>
                <div class="contenido">
                    <h2>Subtítulo</h2>
                    <div class="sub-cont">
                        <img src="../../assets/imagenes/tuto-escrito.png" alt="img">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et 
                            massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien 
                            fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae 
                            mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare 
                            leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, 
                            at maximus ante fermentum sit amet. Pellentesque commodo lacus at 
                            sodales sodales. Quisque sagittis orci ut diam condimentum, vel 
                            euismod erat placerat. In iaculis arcu eros, eget tempus orci 
                            facilisis id.</p>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer>
        <img src="../../assets/imagenes/Capa_2.png" alt="Logo">
        <div class="info">
            <h4>©Copyright</h4>
            <h4>Nosotros</h4>
            <h4>Caracteres</h4>
        </div>
        <div class="canales">
            <img src="../../assets/imagenes/image 76.png" alt="facebook">
            <img src="../../assets/imagenes/image 73.png" alt="insta">
            <img src="../../assets/imagenes/image 74.png" alt="x">
        </div>

    </footer>
</body>
</html>
