<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Tutorial</title>
    <link rel="stylesheet" href="../../styles/tipogra.css">
    <link rel="stylesheet" href="../../styles/variables.css">
    <link rel="stylesheet" href="../../styles/frontend.css">
    <!-- <link rel="stylesheet" href="../../styles/tablet.css"> -->
    <!--<link rel="stylesheet" href="../../styles/desktop.css">-->
    
</head>
<body>
    <header>
        <div class="navbar_container"></div>
    </header>

    <main class="main_leer_tut_escrit_mob">
        <seccion class="primera_parte_leer_tut_escritomob">
            <article class="imagen_leer_tut_escritomob">
                <img src="../../assets/imagenes/leer_tut_esc.png" alt="">
            </article>
            <article class="fecha">
                <h6>23/11/2024</h6>
            </article>
            <article class="barra_artistas">
                <h4>Tutorial escrito</h4>
            </article>
            <article>
                <p>El “Valle Inquietante” no solo es un término técnico, sino una estética que confronta la frontera entre lo humano y lo artificial. Hoy, este concepto pervade el cine, el arte digital y las gráficas contemporáneas, lanzándonos a un juego entre lo familiar y lo alienante. ¿Qué nos dice esta paradoja visual sobre nuestras propias percepciones y miedos?</p>
            </article>
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <div class="tutorial contenedor">
            <article>
                <h6>Videojuegos</h6>
            </article>
            <article>
                <p>Los videojuegos han encontrado en el Valle Inquietante una mina de oro para profundizar en la inmersión del usuario y llevar la narrativa visual hacia un terreno de incertidumbre. Detroit: Become Human o Silent Hill emplean personajes y entornos que, si bien son familiares en apariencia, albergan detalles que despiertan incomodidad y distanciamiento en el jugador. Silent Hill, en particular, se apoya en lo siniestro de lo humanoide pero inexacto: seres que parecen humanos pero actúan como autómatas.</p>
            </article>
        </div> <!-- se añadieron contenidos y clases -->
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <div class="tutorial contenedor">
            <article>
                <h6>Cine y Animación</h6>
            </article>
            <article>
                <p>La tecnología CGI en el cine ha sido crucial para explorar el Valle Inquietante. Películas como Final Fantasy: The Spirits Within (2001) y The Polar Express (2004) fueron criticadas por su acercamiento a lo real sin lograrlo completamente. A pesar de su calidad gráfica, la reacción fue de rechazo, pues los rostros de los personajes tenían expresiones que recordaban vagamente a los humanos, pero no lo suficiente para “ser” humanos. Este fenómeno ha impulsado el uso de gráficos más abstractos o estilizados en cine, donde lo humano se percibe como natural y la animación retoma un sentido de diseño gráfico más distante de la realidad para evitar esa reacción negativa.</p>
            </article>
        </div> <!-- se añadieron contenidos y clases -->
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <div class="tutorial contenedor">
                <!-- Se quitaron de esta clase unos contenedores para una imagen porque son innecesarios -->
            <article>
                <h6>Inteligencia Artificial Y Arte Generativo</h6>
            </article>
            
            <article>
                <p>En el contexto de la inteligencia artificial, herramientas como DALL-E o Midjourney han explotado la estética del Valle Inquietante, generando rostros y cuerpos que no existen pero que podrían hacerlo. Las imágenes de personas inventadas, a menudo, contienen pequeñas “fallas” que, en conjunto, los vuelven perturbadores. Este efecto se amplifica en las aplicaciones artísticas, donde los artistas exploran los errores generativos y celebran las anomalías visuales como parte del lenguaje de lo posthumano.</p>
            </article>
        </div> <!-- se añadieron contenidos y clases -->    
        </seccion>
    </main>

    <footer>
        <div class="fter_container"></div>
    </footer>
    <script src="../../scripts/burguer.js"></script>
    <script src="../../scripts/fter.js"></script>
</body>
</html>