<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Tutorial</title>
    <link rel="stylesheet" href="../../styles/frontend.css">
    <!-- <link rel="stylesheet" href="../../styles/tablet.css"> -->
    <!--<link rel="stylesheet" href="../../styles/desktop.css">-->
</head>
<body>
    <header>
        <img src="./assets/imagenes/logo fondo claro.png" alt="portada" class="logo">
        <div class="navbar_container"></div>
    </header>

    <main class="main_leer_tut_escrit_mob">
        <seccion class="primera_parte_leer_tut_escritomob">
            <article class="imagen_leer_tut_escritomob">
                <img src="#" alt="">
            </article>
            <article class="fecha">
                <h6>23/11/2024</h6>
            </article>
            <article class="barra_artistas">
                <h4>Titulo</h4>
            </article>
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias facilis nemo quaerat totam impedit quo enim accusantium, eligendi officiis incidunt.</p>
            </article>
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <article class="imagen_subtitulo"><!-- se añadieron contenidos y clases -->
                <img src="#" alt="">
            </article>
            <div class="tutorial contenedor">
            <article>
                <h6>Subtítulo</h6>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam nulla asperiores quae aliquid earum officiis exercitationem corrupti temporibus. Ullam eveniet voluptatibus quidem ab corporis harum pariatur earum omnis dolor, porro nisi ducimus illo inventore velit delectus? Aliquid exercitationem nihil aut ab mollitia quod perspiciatis molestiae eveniet atque commodi? Voluptas?</p>
            </article>
        </div> <!-- se añadieron contenidos y clases -->
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <article class="imagen_subtitulo"><!-- se añadieron contenidos y clases -->
                <img src="#" alt="">
            </article>
            <div class="tutorial contenedor">
            <article>
                <h6>Subtítulo</h6>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam nulla asperiores quae aliquid earum officiis exercitationem corrupti temporibus. Ullam eveniet voluptatibus quidem ab corporis harum pariatur earum omnis dolor, porro nisi ducimus illo inventore velit delectus? Aliquid exercitationem nihil aut ab mollitia quod perspiciatis molestiae eveniet atque commodi? Voluptas?</p>
            </article>
        </div> <!-- se añadieron contenidos y clases -->
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <article class="imagen_subtitulo"><!-- se añadieron contenidos y clases -->
                <img src="#" alt="">
            </article>
            <div class="tutorial contenedor">
            <article>
                <h6>Subtítulo</h6>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam nulla asperiores quae aliquid earum officiis exercitationem corrupti temporibus. Ullam eveniet voluptatibus quidem ab corporis harum pariatur earum omnis dolor, porro nisi ducimus illo inventore velit delectus? Aliquid exercitationem nihil aut ab mollitia quod perspiciatis molestiae eveniet atque commodi? Voluptas?</p>
            </article>
        </div> <!-- se añadieron contenidos y clases -->    
        </seccion>
        <seccion class="subtitulo_Leer_tut_escritomob">
            <article class="imagen_subtitulo"><!-- se añadieron contenidos y clases -->
                <img src="#" alt="">
            </article>
            <div class="tutorial contenedor">
            <article>
                <h6>Subtítulo</h6>
            </article>
            <article>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis magnam nulla asperiores quae aliquid earum officiis exercitationem corrupti temporibus. Ullam eveniet voluptatibus quidem ab corporis harum pariatur earum omnis dolor, porro nisi ducimus illo inventore velit delectus? Aliquid exercitationem nihil aut ab mollitia quod perspiciatis molestiae eveniet atque commodi? Voluptas?</p>
            </article>
        </div> <!-- se añadieron contenidos y clases -->  
        </seccion>
    </main>

    <footer>
        <div class="fter_container"></div>
    </footer>
    <script src="../../scripts/burguer.js"></script>
    <script src="../../scripts/fter.js"></script>
</body>
</html>