<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/frontend.css">
    <title>Tutorial de Video</title>
</head>
<body class="movil">
    <header class="header">
        <figure class="logo">
            <img src="logo.png" alt="Logo"> <!-- Añade el nombre del archivo de la imagen -->
        </figure>
        <figure class="icono_menu">
            <img src="menu-icon.png" alt="Icono del Menú"> <!-- Añade el nombre del archivo de la imagen -->
        </figure>
    </header>
    <main>
        <section>
            <figure>
                <img src="imagen.png" alt="Descripción de la imagen"> <!-- Añade el nombre del archivo de la imagen -->
                <figcaption>
                    <time datetime="2024-11-08">8 de noviembre de 2024</time>
                </figcaption>
            </figure>
            <article>
                <h1>Título</h1>
                <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim magnis augue.</p>
                <h2>Subtítulo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, at maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam condimentum, vel euismod erat placerat. In iaculis arcu eros, eget tempus orci facilisis id.</p>
            </article>
        </section>
    </main>
    <footer>
        <figure>
            <img src="footer-image.png" alt="Imagen del pie de página"> <!-- Añade el nombre del archivo de la imagen -->
        </figure>
        <section class="contenido">
            <a href="#">©Copyright</a>
            <a href="#">Nosotros</a>
            <a href="#">Caracter</a>
        </section>
        <section class="redes">
            <a href="#">Facebook</a>
            <a href="#">Pinterest</a>
        </section>
    </footer>
</body>
</html>
