<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial de Video</title>
    <link rel="stylesheet" href="../../styles/frontend.css">
</head>
<body class="leer_tutorial_video-mobile">
    <header>
        <img src="./assets/imagenes/logo fondo claro.png" alt="portada" class="logo">
        <div class="navbar_container"></div>
    </header>
    <main>
        <section class="tutorial_principal">
            <img src="/assets/imagenes/Group 18.png" alt="Descripción de la imagen"> <!-- Añade el nombre del archivo de la imagen -->
                <article class="contenido_tutorial_principal">
                    <p>8 de noviembre de 2024</p>
                    <h1>Con-Ciencia</h1>
                    <p>Con-ciencia podcast es el proyecto que responde a las crisis existenciales de una estudiante. </p>
                </article>
        </section>
        <section class="subtitulo_tutorial">
            <h2>Con una duda:</h2>
            <p>¿Cual es la influencia del arte y la cultura en las materias STEM? En pocas palabras, a través de episodios como: "Con los lenguajes de programación... ¿Se puede hacer poesía?" o "El fin último de una profesión: ¿El paper científico?" se saca a la ciencia de su zona de confort, mientras el proceso se vuelve un viaje personal.</p> 
            <p>En esta ocasión, junto con Juan Pablo Vargas Rollano (escritor), nos cuestionamos sobre la belleza detrás de los lenguajes de programación ¿Existirá alguna?.</p>
        </section>
        <section class="subtitulo_tutorial">
            <h2>Con una duda:</h2>
            <p>¿Cual es la influencia del arte y la cultura en las materias STEM? En pocas palabras, a través de episodios como: "Con los lenguajes de programación... ¿Se puede hacer poesía?" o "El fin último de una profesión: ¿El paper científico?" se saca a la ciencia de su zona de confort, mientras el proceso se vuelve un viaje personal.</p> 
            <p>En esta ocasión, junto con Juan Pablo Vargas Rollano (escritor), nos cuestionamos sobre la belleza detrás de los lenguajes de programación ¿Existirá alguna?.</p>
        </section>
    </main>
    <footer>
        <div class="fter_container"></div>
    </footer>
    <script src="../../burguer.js"></script>
</body>
</html>
