<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1</title>
    <link rel="stylesheet" href="assets/estilos/styles.css">
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body class="tutorial">
    <header>
        <img src="../../assets/imagenes/logo fondo claro.png" alt="portada">
        <div class="btn-barra-lateral">
            <img src="../../assets/imagenes/Icono_menu.png" alt="hamburguesa">
            <div class="contenido-bar">
                <nav>
                    <ul>
                        
                        <li><a href="../tutorial/leer_tutorial_video.html">Tutoriales Video</a></li>
                        <li><a href="../tutorial/leer_tutorial_escrito.html">Tutoriales Escrito</a></li>
                        <li><a href="../articulos/articulos.html">Articulos</a></li>
                        <li><a href="../casos_de_exito/c_exito.html">Casos de exito</a></li>
                        <li><a href="../../index.html">home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <article class="escrito">
            <img src="../../assets/imagenes/Group 16.png" alt="img" class="img-princi">
            <section class="barra-separadora">
                <h3>09/11/2024</h3>
            </section>
            <section class="cont">
                <h2>¿JesuCristo?</h2>
                <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, 
                    quam volutpat dui fames enim magnis augue. </p>
            </section>
        </article>
        <article class="video">
            <video controls>
                <source src="#" type="video/webm">
                <source src="#" type="video/mp4">
            </video>
            <section class="barra-separadora">
                <h3>09/11/2024</h3>
            </section>
            <section class="cont">
                <h2>¿JesuCristo?</h2>
                <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, 
                    quam volutpat dui fames enim magnis augue. </p>
            </section>
            <video controls>
                <source src="#" type="video/webm">
                <source src="#" type="video/mp4">
            </video>
            <section class="barra-separadora">
                <h3>09/11/2024</h3>
            </section>
            <section class="cont">
                <h2>Con-Ciencia</h2>
                <p>Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, 
                    quam volutpat dui fames enim magnis augue. </p>
            </section>
        </article>
        
    </main>
            
            
    <footer>
        <img src="../../assets/imagenes/Capa_2.png" alt="Logo">
        <div class="info">
            <h4>©Copyright</h4>
            <h4>Nosotros</h4>
            <h4>Caracteres</h4>
        </div>
        <div class="canales">
            <img src="../../assets/imagenes/image 76.png" alt="facebook">
            <img src="../../assets/imagenes/image 73.png" alt="insta">
            <img src="../../assets/imagenes/image 74.png" alt="x">
        </div>

    </footer>

</body>
</html>
