<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secciones</title>
    <link rel="stylesheet" href="../../styles/tipogra.css">
    <link rel="stylesheet" href="../../styles/variables.css">
    <link rel="stylesheet" href="../../styles/frontend.css">
    <!-- <link rel="stylesheet" href="../../styles/tablet.css"> -->
    <!--<link rel="stylesheet" href="../../styles/styles_desktop.css">-->
    <script type="module" src="../../scripts/home.js"></script>
</head>


<body class="bodytuto">
    <header>
        <div class="navbar_container"></div>
    </header>
    <main class="maintuto">
        <section class="sectiontuto2">
            <div class="videotuto">
                <video src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" controls></video>
                <div class="accesibilidad_tuto">
                    <h5>El formato SVG (Scalable Vector Graphics) es un estándar basado en XML que permite...</h5>
                </div>
            </div>
            <article class="contenidotuto2">
                <div class="h6_tuto2">
                    <h6>
                        09/11/2024
                    </h6>
                </div>
                <div class="h2_tuto2">
                    <h2>
                        ROMPIENDO EL PIXEL:
                        ANIMACIONES
                        DINAMICAS CON SVG EN
                        DISEÑO WEB
                    </h2>
                </div>
                <div class="p_tuto2">
                    <p class="cyan2">
                        Explora cómo los gráficos vectoriales escalables (SVG) pueden transformar tus diseños web,
                        llevando tus proyectos más allá de lo estático con animaciones vibrantes y fluidas. En este
                        tutorial aprenderás a manipular SVG para crear interactividad y movimiento que
                        desafían las convenciones visuales.
                    </p>
                </div>
            </article>
        </section>
        <section class="sectiontuto">
            <div class="videotuto">
                <video src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" controls></video>
                <div class="accesibilidad_tuto">
                    <h5>Los filtros en CSS son una herramienta poderosa que permite modificar la apariencia de...</h5>
                </div>
            </div>
            <article class="contenidotuto">
                <div class="h6_tuto">
                    <h6>
                        09/11/2024
                    </h6>
                </div>
                <div class="h2_tuto">
                    <h2>
                        COMO DESCOMPONER Y
                        RECONSTRUIR
                        IMAGENES CON FILTROS
                        EN CSS
                    </h2>
                </div>
                <div class="p_tuto">
                    <p class="cyan3">
                        Transforma la manera en que tus imágenes se integran al diseño digital con filtros de CSS. Desde
                        ajustes sutiles hasta efectos radicales, este tutorial te llevará al límite de lo visualmente
                        posible.
                    </p>
                </div>
            </article>
        </section>
        <section class="sectiontuto2">
            <div class="videotuto">
                <video src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" controls></video>
                <div class="accesibilidad_tuto">
                    <h5>Asegúrate de usar una versión reciente de Blender con Geometry Nodes habilitado...</h5>
                </div>
            </div>
            <article class="contenidotuto2">
                <div class="h6_tuto2">
                    <h6>
                        09/11/2024
                    </h6>
                </div>
                <div class="h2_tuto2">
                    <h2>
                        EXPLORANDO EL CAOS:
                        CREACION DE
                        GEOMETRY NODES CON
                        PYTHON PARA AÑADIR
                        RUIDO A SUPERFICIES EN
                        BLENDER
                    </h2>
                </div>
                <div class="p_tuto2">
                    <p class="cyan4">
                        El diseño generativo está redefiniendo la creatividad digital, y Blender es una de las
                        herramientas que lidera esta revolución. En este tutorial, aprenderás a usar Python para crear
                        un Geometry Node que transforme la superficie de un objeto añadiendo ruido, desafiando las
                        formas tradicionales y experimentando con lo inesperado.
                    </p>
                </div>
            </article>
        </section>
        <!-- <section class="sectiontuto">
            <div class="videotuto">
                <video src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" controls></video>
                <div class="accesibilidad_tuto">
                    <h5>La Web Semántica es una extensión de la web actual que otorga un significado (semántica) a...
                    </h5>
                </div>
            </div>
            <article class="contenidotuto">
                <div class="h6_tuto">
                    <h6>
                        09/11/2024
                    </h6>
                </div>
                <div class="h2_tuto">
                    <h2>
                        LA WEB CON
                        SENTIDO:
                        DESENTRAÑANDO
                        LA SEMANTICA
                        WEB
                    </h2>
                </div>
                <div class="p_tuto">
                    <p>
                        Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames
                        enim
                        magnis augue.
                    </p>
                </div>
            </article>
        </section> -->
    </main>
    <footer>
        <div class="fter_container"></div>
    </footer>
    <script src="../../scripts/burguer.js"></script>
    <script src="../../scripts/fter.js"></script>
</body>


</html>