<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial de Video</title>
    <link rel="stylesheet" href="../../styles/tipogra.css">
    <link rel="stylesheet" href="../../styles/variables.css">
     <link rel="stylesheet" href="../../styles/frontend.css">
     <!-- <link rel="stylesheet" href="../../styles/tablet.css"> -->
     <!--<link rel="stylesheet" href="../../styles/styles_desktop.css">-->
</head>
<body class="leer_tutorial_video-mobile">
    <header>
        <div class="navbar_container"></div>
    </header>
    <main>
        <section class="tutorial_principal">
            <img src="/assets/imagenes/Group 18.png" alt="Descripción de la imagen"> <!-- Añade el nombre del archivo de la imagen -->
                <article class="contenido_tutorial_principal">
                    <p>9/11/2024</p>
                    <h1>Con-Ciencia</h1>
                    <p>Con-ciencia podcast es el proyecto que responde a las crisis existenciales de una estudiante. </p>
                </article>
        </section>
        <section class="subtitulo_tutorial">
            <h2>Con una duda:</h2>
            <p class="cyan5">¿Cual es la influencia del arte y 
                la cultura en las materias STEM? 
                En pocas palabras, a través de episodios como: "Con los lenguajes de programación... ¿Se puede hacer poesía?" o "El fin último de una profesión: ¿El paper científico?" se saca a la ciencia de su zona de confort, mientras el proceso se vuelve un viaje personal. En esta ocasión, junto con Juan Pablo Vargas Rollano</p> 
        </section>
        <section class="subtitulo_tutorial">
            <h2>Con una duda:</h2>
            <p class="magenta3">¿Cual es la influencia del arte y la cultura en las materias STEM? En pocas palabras, a través de episodios como: "Con los lenguajes de programación... ¿Se puede hacer poesía?" o "El fin último de una profesión: ¿El paper científico?" se saca a la ciencia de su zona de confort, mientras el proceso se vuelve un viaje personal. En esta ocasión, junto con Juan Pablo Vargas Rollano</p> 
        </section>
    </main>
    <footer>
        <div class="fter_container"></div>
    </footer>
    <script src="../../scripts/burguer.js"></script>
    <script src="../../scripts/fter.js"></script>
</body>
</html>
