<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secciones</title>
    <!--<link rel="stylesheet" href="../../styles/frontend.css">-->
    <link rel="stylesheet" href="../../styles/tablet.css">
    <!--<link rel="stylesheet" href="../../styles/desktop.css">-->
</head>

<body class="bodytuto">
    <header>
        <img src="../../assets/imagenes/logo fondo claro.png" alt="portada" class="logo">
        <div class="navbar_container"></div>
    </header>
    <main class="maintuto">
        <section class="sectiontuto">
            <video src="#">
                
            </video>
            <article class="contenidotuto">
                <div class="h6_tuto">
                    <h6>
                        09/11/2024
                    </h6>
                </div>
                <div class="h2_tuto">
                    <h2>
                        ¿JesuCristo?
                    </h2>
                </div>
                <div class="p_tuto">
                    <p>
                        Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim
                        magnis augue.
                    </p>
                </div>
            </article>
        </section>
        <section class="sectiontuto2">
            <video src="#">

            </video>
            <article class="contenidotuto2">
                <div class="h6_tuto2">
                    <h6>
                        09/11/2024
                    </h6>
                </div>
                <div class="h2_tuto2">
                    <h2>
                        ¿JesuCristo?
                    </h2>
                </div>
                <div class="p_tuto2">
                    <p>
                        Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim
                        magnis augue.
                    </p>
                </div>
            </article>
        </section>


        <!-- CAMBIOS REALIZADO HASTA ACA, LO DEMAS PROBAR CON LOS SVG -->

        
        <section class="sectiontuto">
            <video src="#">

            </video>
            <article class="contenidotuto">
                <h6>
                    09/11/2024
                </h6>
                <h2>
                    ¿JesuCristo?
                </h2>
                <p>
                    Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim
                    magnis augue.
                </p>
            </article>
        </section>
        <section class="sectiontuto2">
            <video src="#">

            </video>
            <article class="contenidotuto2">
                <h6>
                    09/11/2024
                </h6>
                <h2>
                    ¿JesuCristo?
                </h2>
                <p>
                    Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim
                    magnis augue.
                </p>
            </article>
        </section>
        <section class="sectiontuto">
            <video src="">

            </video>
            <article class="contenidotuto">
                <h6>
                    09/11/2024
                </h6>
                <h2>
                    ¿JesuCristo?
                </h2>
                <p>
                    Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim
                    magnis augue.
                </p>
            </article>
        </section>
        <section class="sectiontuto2">
            <video src="#">

            </video>
            <article class="contenidotuto2">
                <h6>
                    09/11/2024
                </h6>
                <h2>
                    ¿JesuCristo?
                </h2>
                <p>
                    Descripcion: Lorem ipsum dolor sit amet adipiscing elit ligula cubilia, quam volutpat dui fames enim
                    magnis augue.
                </p>
            </article>
        </section>
    </main>
    <footer>
        <div class="fter_container"></div>
    </footer>
    <script src="../../scripts/burguer.js"></script>
    <script src="../../scripts/fter.js"></script>
</body>

</html>