<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <link rel="stylesheet" href="../../styles/frontend.css">
</head>
<body>
    <header>
        <img src="./assets/imagenes/logo fondo claro.png" alt="portada" class="logo">
        <div class="navbar_container"></div>
    </header>
    <main class="main-info">
        <h1>Título</h1>
        <section class="info">
            <img src="#" alt="Imagen principal">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quas, officia optio numquam ad, deserunt voluptate minima ea praesentium, doloribus ex et? Numquam quia iste nisi sunt assumenda dignissimos blanditiis.</p>
        </section>
        <section class="grupos-info">
            <article class="grupo-info">
                <!-- Se añadieron la etiqueta figure a las imagenes de la section grupo-info -->
                <figure>
                    <img src="#" alt="Grupo 6">
                </figure>
                <h2>Grupo 1</h2>
            </article>
            <article class="grupo-info">
                <figure>
                    <img src="#" alt="Grupo 6">
                </figure>
                <h2>Grupo 2</h2>
            </article>
            <article class="grupo-info">
                <figure>
                    <img src="#" alt="Grupo 6">
                </figure>
                <h2>Grupo 3</h2>
            </article>
            <article class="grupo-info">
                <figure>
                    <img src="#" alt="Grupo 6">
                </figure>
                <h2>Grupo 4</h2>
            </article>
            <article class="grupo-info">
                <figure>
                    <img src="#" alt="Grupo 6">
                </figure>
                <h2>Grupo 5</h2>
            </article>
            <article class="grupo-info">
                <figure>
                    <img src="#" alt="Grupo 6">
                </figure>
                <h2>Grupo 6</h2>
            </article>
        </section>
    </main>

    <footer class="f-info">
        <article>
            <img src="../../assets/imagenes/logo fondo claro.png" alt="Logo">
        </article>
        <article>
            <a href="#">Copyright</a>
            <a href="#">Nosotros</a>
            <a href="#">Caracteres</a>
        </article>
        <article class="iconos-info">
            <a href=""><img src="../../assets/iconos/facebook.png" alt="Facebook"></a>
            <a href=""><img src="../../assets/iconos/pinterest.png" alt="Pinterest"></a>
        </article>
    </footer>
    <script src="../../scripts/burguer.js"></script>
</body>
</html>