<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información</title>
    <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
    <header>
        <img src="#" alt="#">
        <div class="btn-barra-lateral" id="btn-menu">
            <img src="../../assets/iconos/Icono_menu.png" alt="hamburguesa" class="hamburguesa">
            <div class="contenido-bar" id="menu">
                <img src="../../assets/iconos/close.png" alt="Cerrar menú" class="btn-cerrar-menu">
                <nav>
                    <ul>
                        <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                        <li><a href="../articulos/articulos.html">Artículos</a></li>
                        <li><a href="../c_exito/casos_de_exitos.html">Casos de éxito</a></li>
                        <li><a href="../../index.html">Home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="info">
            <h1>Título</h1>
            <img src="#" alt="Imagen principal">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quas, officia optio numquam ad, deserunt voluptate minima ea praesentium, doloribus ex et? Numquam quia iste nisi sunt assumenda dignissimos blanditiis.</p>
        </section>
        <section class="grupos">
            <article class="grupo">
                <img src="#" alt="Grupo 1">
                <h2>Grupo 1</h2>
            </article>
            <article class="grupo">
                <img src="#" alt="Grupo 2">
                <h2>Grupo 2</h2>
            </article>
            <article class="grupo">
                <img src="#" alt="Grupo 3">
                <h2>Grupo 3</h2>
            </article>
            <article class="grupo">
                <img src="#" alt="Grupo 4">
                <h2>Grupo 4</h2>
            </article>
            <article class="grupo">
                <img src="#" alt="Grupo 5">
                <h2>Grupo 5</h2>
            </article>
        </section>
    </main>

    <footer>
        <article class="">
            <img src="#" alt="Logo">
        </article>
        <article class="">
            <a href="#">Copyright</a>
            <a href="#">Nosotros</a>
            <a href="#">Caracteres</a>
        </article>
        <article class="">
            <a href=""><img src="#" alt="Facebook"></a>
            <a href=""><img src="#" alt="Pinterest"></a>
        </article>
    </footer>
    <script src="../../burguer.js"></script>
</body>
</html>