<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
</head>
<body>
    <header>
        <img src="#" alt="#">
        <nav>
            <ul>
                <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="../articulos/articulos.html">Articulos</a></li>
                <li><a href="../c_exito/casos_de_exitos.html">Casos de exito</a></li>
                <li><a href="../../index.html">home</a></li>
            </ul>
        </nav>
    </header>

    <main class="">
        <article class="autor">
            <img src="#" alt="Autor">
            <h2>Autor</h2>
        </article>
    </main>

    <footer>
        <article class="">
            <img src="#" alt="Logo">
        </article>
        <article class="">
            <a href="#">Copyright</a>
            <a href="#">Nosotros</a>
            <a href="#">Caracteres</a>
        </article>
        <article class="">
            <a href=""><img src="#" alt="Facebook"></a>
            <a href=""><img src="#" alt="Pinterest"></a>
        </article>
    </footer>
    <!-- scripts? para los autores -->
</body>
</html>