<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
    <link rel="stylesheet" href="../../styles/frontend.css">
</head>
<body>
    <header>
        <img src="#" alt="Logo">
        <div class="navbar_container"></div>
    </header>

    <main class="main_autores">
        <article class="autor">
            <img src="#" alt="Autor">
            <h2>Autor</h2>
        </article>
    </main>

    <footer>
        <article class="logo_footer">
            <img src="#" alt="Logo">
        </article>
        <article class="links_footer">
            <a href="#">Copyright</a>
            <a href="#">Nosotros</a>
            <a href="#">Caracteres</a>
        </article>
        <article class="redes_footer">
            <a href=""><img src="#" alt="Facebook"></a>
            <a href=""><img src="#" alt="Pinterest"></a>
        </article>
    </footer>

    <script src="../../scripts/burguer.js"></script>
</body>
</html>