<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autores</title>
    <link rel="stylesheet" href="../../styles/frontend.css">
    <!--<link rel="stylesheet" href="../../styles/tablet.css">-->
    <!--<link rel="stylesheet" href="../../styles/styles_desktop.css">-->
    <script type="module" src="../../scripts/scrolltrigger.js"></script>
</head>
<body class="body_autores">
    <header>
        <img src="./assets/imagenes/logo fondo claro.png" alt="portada" class="logo">
        <div class="navbar_container"></div>
    </header>

    <main>
        <section class="autores_contenedor"> <!-- se añadio un contenedor Primera fila autores-->
        <section class="autor_grupo_autores_mobile">
            <article class="img_autores">
                <div class="elipse_amarillo_autores">
                    <img src="#" alt="foto autor">
                </div>
            </article>
            <article class="barra_artistas">
                <h6>Autor</h6>
            </article>
        </section>

        <section class="autor_grupo_autores_mobile">
            <article class="img_autores">
                <div class="elipse_amarillo_autores">
                    <img src="#" alt="foto autor">
                </div>
            </article>
            <article class="barra_artistas">
                <h6>Autor</h6>
            </article>
        </section>

        <section class="autor_grupo_autores_mobile">
            <article class="img_autores">
                <div class="elipse_amarillo_autores">
                    <img src="#" alt="foto autor">
                </div> 
            </article>
            <article class="barra_artistas">
                <h6>Autor</h6>
            </article>
        </section>
        </section><!-- fin de la seccion contenedor -->
        <!-- Se añadió sección descripcion del trabajo -->
        <section class="autor_descripcion">
            <section class="autor_grupo_autores_mobile">
                <article class="img_autores">
                    <div class="elipse_amarillo_autores">
                        <img src="#" alt="foto autor">
                    </div>
                </article>
                <article class="barra_artistas">
                    <h6>Autor</h6>
                </article>
            </section>
            <article class="autor_contenido">
                <h2>Título</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, </p>
            </article>
        </section>
        <!-- 2da fila autores-->
        <section class="autores_contenedor"> 
            <section class="autor_grupo_autores_mobile">
                <article class="img_autores">
                    <div class="elipse_amarillo_autores">
                        <img src="#" alt="foto autor">
                    </div>
                </article>
                <article class="barra_artistas">
                    <h6>Autor</h6>
                </article>
            </section>

            <section class="autor_grupo_autores_mobile">
                <article class="img_autores">
                    <div class="elipse_amarillo_autores">
                        <img src="#" alt="foto autor">
                    </div> 
                </article>
                <article class="barra_artistas">
                    <h6>Autor</h6>
                </article>
            </section>

            <section class="autor_grupo_autores_mobile">
                <article class="img_autores">
                    <div class="elipse_amarillo_autores">
                        <img src="#" alt="foto autor">
                    </div>
                </article>
                <article class="barra_artistas">
                    <h6>Autor</h6>
                </article>
            </section>
        </section>
    <!-- Segunda descripcion -->
            <section class="autor_descripcion">
                <section class="autor_grupo_autores_mobile">
                    <article class="img_autores">
                        <div class="elipse_amarillo_autores">
                            <img src="#" alt="foto autor">
                        </div>
                    </article>
                    <article class="barra_artistas">
                        <h6>Autor</h6>
                    </article>
                </section>
                <article class="autor_contenido">
                    <h2>Título</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, </p>
                </article>
            </section>
            
            <!-- 3ra fila autores-->
            <section class="autores_contenedor">
                <section class="autor_grupo_autores_mobile">
                    <article class="img_autores">
                        <div class="elipse_amarillo_autores">
                            <img src="#" alt="foto autor">
                        </div>
                        
                    </article>
                    <article class="barra_artistas">
                        <h6>Autor</h6>
                    </article>
                </section>
                <section class="autor_grupo_autores_mobile">
                    <article class="img_autores">
                        <div class="elipse_amarillo_autores">
                            <img src="#" alt="foto autor">
                        </div>
                        
                    </article>
                    <article class="barra_artistas">
                        <h6>Autor</h6>
                    </article>
                </section>
                <section class="autor_grupo_autores_mobile">
                    <article class="img_autores">
                        <div class="elipse_amarillo_autores">
                            <img src="#" alt="foto autor">
                        </div>
                        
                    </article>
                    <article class="barra_artistas">
                        <h6>Autor</h6>
                    </article>
                </section>
                </section>
    <!-- Tercera descripcion -->

                <section class="autor_descripcion">
                    <section class="autor_grupo_autores_mobile">
                        <article class="img_autores">
                            <div class="elipse_amarillo_autores">
                                <img src="#" alt="foto autor">
                            </div>
                            
                        </article>
                        <article class="barra_artistas">
                            <h6>Autor</h6>
                        </article>
                    </section>
                    <article class="autor_contenido">
                        <h2>Título</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, </p>
                    </article>
                </section>
                <section class="autores_contenedor"> <!-- se añadio un contenedor -->
                    <section class="autor_grupo_autores_mobile">
                        <article class="img_autores">
                            <div class="elipse_amarillo_autores">
                                <img src="#" alt="foto autor">
                            </div>
                            
                        </article>
                        <article class="barra_artistas">
                            <h6>Autor</h6>
                        </article>
                    </section>
                    <section class="autor_grupo_autores_mobile">
                        <article class="img_autores">
                            <div class="elipse_amarillo_autores">
                                <img src="#" alt="foto autor">
                            </div>
                            
                        </article>
                        <article class="barra_artistas">
                            <h6>Autor</h6>
                        </article>
                    </section>
                    <section class="autor_grupo_autores_mobile">
                        <article class="img_autores">
                            <div class="elipse_amarillo_autores">
                                <img src="#" alt="foto autor">
                            </div>
                            
                        </article>
                        <article class="barra_artistas">
                            <h6>Autor</h6>
                        </article>
                    </section><!-- fin de la seccion contenedor -->
                    </section>
                    <section class="autor_descripcion">
                        <section class="autor_grupo_autores_mobile">
                            <article class="img_autores">
                                <div class="elipse_amarillo_autores">
                                    <img src="#" alt="foto autor">
                                </div>
                                
                            </article>
                            <article class="barra_artistas">
                                <h6>Autor</h6>
                            </article>
                        </section>
                        <article class="autor_contenido">
                            <h2>Título</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh nibh, </p>
                        </article>
                    </section>
    </main>

    <footer>
        <div class="fter_container"></div>
    </footer>
    <script src="../../scripts/burguer.js"></script>
    <script src="../../scripts/fter.js"></script>
</body>
</html>