* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h4 ,h2{ all: unset; }
p{
    font-family: "firasans";
}


/*---------------------------SOPHIE--------------------------------*/
/* ===================== Log in =============================== */

body {
    background-color: var(--azulOscuro);
}

.login {
    padding: 16px;
    background-color: var(--azulOscuro);

}

.login form {
    width: 100%;
    max-width: 360px;
    background-color: var(--azulOscuro);
    padding-left: 16px;
    padding-right: 16px;
}
.login h1{
    color: var(--rosa);
    text-align: center;
    font-size: 4rem;
    margin: 0 auto;
    background-color: var(--azulOscuro);
    line-height: normal;
    font-family: 'Norteam';
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
    font-weight: normal;
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 35px;
}

.login label {
    display: block;
    font-size: var(--p);
    margin-bottom: 8px;
    color: white;
    font-family: "firasans";
}

.login input[type="email"],
.login input[type="password"] {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    background-color: transparent;
    background-image: url('../assets/imagenes/Contenedores.svg');
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: -835px -1152px; 
    border: none;
    outline: none;
    box-shadow: none;
}

::placeholder {
    padding-left:22px;
    color: white;
}

button[type="submit"] {
    width: 100%;
    height: 48px;
    background-color: transparent;
    background-image: url('../assets/imagenes/Contenedores.svg');
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: -835px -812px; 
    border: none;
    outline: none;
    box-shadow: none;
    font-size: var(--h6);
    color: var(--azulOscuro);
    font-family: "firasans";
    font-weight: bold;
}
.recordar {
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    color: var(--blanco);
}
.boton_texto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 160px;
    margin: 0 auto;
    margin-top: 16px;
}

.recordar a {
    color: var(--blanco);
    text-decoration: none;
    font-family: "firasans";
}
.recordar input[type="checkbox"] {
    margin-right: 8px;
    appearance: none; 
    width: 18.576px;
    height: 18.576px;
    border-radius: 4.644px;
    border: 0.929px solid var(--blanco);
    background-color: transparent;
    cursor: pointer;
}

.recordar input[type="checkbox"]:checked {
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.recordar input[type="checkbox"]:checked::after {
    content: '✓';
    color: var(--negro);
    font-size: 14px;
}
.recordar label { font-size: 14px; 
    white-space: nowrap; 
}
.recordar a { 
    color: var(--blanco); 
    text-decoration: none; 
    margin-left: auto; 
    font-size: 14px; 
}
.center {
    margin-top: 33px;
    color: var(--blanco);
    display: flex;
}

.center a { color: var(--blanco); 
    font-size: 14px; 
    text-decoration: none; 
    font-family: "firasans"; 
    margin-left: auto;

}

.orwith {
    text-align: center;
    color: var(--blanco);
    font-size: var 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ===================== sing =============================== */
/* se hicieron cambios desde esat linea para aagreragr los fondos pero como pngs
 tambien se cenro el formulario de manera horizontal Sophie 19/11/24 */
.singin {
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
    background-color: var(--azulOscuro);
    padding: 16px 24px;
    text-align: center;
}

.singin h1 {
    color: var(--rosa);
    text-align: center;
    font-size: 4rem;
    margin: 0 auto;
    background-color: var(--azulOscuro);
    line-height: normal;
    font-family: 'Norteam';
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
    font-weight: normal;
    font-style: normal;
    margin-top: 16px;
    margin-bottom: 35px;
}

.singin input[type="email"],
.singin input[type="tel"],
.singin input[type="text"],
.singin input[type="password"] {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    background-color: transparent;
    background-image: url('../assets/imagenes/Contenedores.svg');
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: -835px -1152px; 
    border: none;
    outline: none;
    box-shadow: none;
}

.singin input[type="email"]::placeholder,
.singin input[type="tel"]::placeholder,
.singin input[type="text"]::placeholder,
.singin input[type="password"]::placeholder {
    color: white;
}

.singin input[type="email"]:focus,
.singin input[type="tel"]:focus,
.singin input[type="text"]:focus,
.singin input[type="password"]:focus,
.singin input[type="email"]:hover,
.singin input[type="tel"]:hover,
.singin input[type="text"]:hover,
.singin input[type="password"]:hover {
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -835px -1152px;
    border: none;
    outline: none;
    box-shadow: none;
}

.password-container {
    position: relative;
    width: 100%;
    height: 48px;
    margin-bottom: 30px;
}

.password-container input[type="password"] {
    width: 100%;
    padding-right: 40px;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -835px -1152px;
    border: none;
    outline: none;
    box-shadow: none;
}

.password-container button {
    position: fixed;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    background-image: url('../assets/imagenes/ojo_tachado.svg');
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    color: var(--blanco);
    background-color: transparent;
}

.singin .orwith {
    color: var(--blanco);
    text-align: center;
}

.singin #show-password {
    display: none;
}

.singin label[for="show-password"] {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--blanco);
    font-size: 14px;
}


/* ===================== info movil =============================== */
.h-info {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: var(--azulOscuro);
    color: var(--blanco);
    margin: 0;
    margin-top: 16px;
}

.f-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background-color: var(--azulOscuro);
    color: var(--blanco);
    margin: 0;
    margin-bottom: 16px;
}

.h-info img {
    height: 35px;
}

.f-info img {
    width: 212px;
}

.h-info nav ul,
.f-info nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.h-info nav ul li a,
.f-info nav ul li a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 14px;
    font-weight: bold;
}

main.main-info {
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos dentro se coloquen en columna */
    align-items: center;
    padding: 0 16px;
    background-color: var(--azulOscuro);
    min-height: 100vh;
}

main.main-info .info {
    padding: 16px;
    border-radius: 0;
    width: 425px;
    max-width: 100%;
    margin: 0 auto;
    background-color: transparent;
    background-image: url(../assets/imagenes/Contenedores.svg);
    background-size: auto;
    background-repeat: no-repeat;
    height: 560px;
    background-position: -398px -571px;
    margin-top: 16px;
}




main.main-info h1 {

    color: var(--blanco);
    font-size: 50px;
    margin: 0 auto;
    background-color: var(--azulOscuro);
    line-height: normal;
    font-family: 'Norteam';
    font-weight: normal;
    font-style: normal;
    margin-top: 100px;
}


main.main-info .cyan6 p {
    line-height: 1.6;
    color: var(--azulOscuro);
    font-family: 'FiraSans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-top: 10px;
    padding: 13px;
    padding-bottom: 37px;
}

.grupos-info {
    margin: 0 auto;
    width: 328px;
    padding: 20px 0;
    background-color: var(--azulOscuro);
}

.grupo-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    background-color: var(--azulOscuro);
    margin: 0 auto;
    padding: 0;
    margin-bottom: 29px;
}

.grupo-info figure {
    grid-column: 1/2;
    width: 140px;
    height: 137px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--amarillo);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.grupo-info h2 {
    height: 35px;
    min-width: 150px;
    color: var(--negro);
    width: auto; 
    background-color: transparent;
    background-image: url('../assets/imagenes/Contenedores.svg');
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: -837px -535px; 
    margin: 0;
    margin-left: 22px;
    padding: 10px 0; 
    font-size: 16px;
    text-align: center;
    justify-self: end;
    font-family: "firasans";
    box-sizing: border-box; 
    font-weight: bold;
}




.cyan6 .img-info {
    position: relative; /* Permitir que z-index funcione */
    z-index: 2; /* Asegúrate de que esté por encima de los pseudo-elementos */
}
  .img-info {
    width: 330px;
}
.img-info img{
    width: 330px;
    height: 250px;
}
/* tambien quite el tabulado extra que habia en toda la seccion de info (Sophie  19/11/24) */
/*-----------------------------------------------------------------*/
/*---------------------------PEDRO---------------------------------*/
index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 16px;
    background-color: var(--azulOscuro);
    overflow-x: hidden;
    width: 100%;
    /* Ancho completo del viewport */
    max-width: 480px;
    /* Tamaño máximo móvil */
}

.index main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 16px;
        justify-content: center;
        padding-right: 16px;
        width: 100%;
        /* Ajusta al ancho del contenedor */
        padding: 16px;

}




.index .articulo_principal img {
    width: 327px;
    height: auto;
}

.index .articulo_principal {
    display: flex;
    min-height: 708px;
    flex-direction: column;
    margin-top: 100px;
}


.index .articulo_principal .contenido_articulo {
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 16px;
}


.index .articulo_principal h1 {
    padding-bottom: 16px;
    color: var(--blanco);
    font-size: var(--h3);
    font-style: normal;
    font-weight: normal;
    background-color: var(--azulOscuro);
    line-height: normal;
    font-family: 'Norteam';
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
    font-weight: normal;
    font-style: normal;
}




.index .articulo_principal p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: var(--azulOscuro);
    margin-bottom: 16px;
    font-family: 'FiraSans';
    src: url(../assets/fonts/FiraSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
}

.barra_de_separacion {
    display: flex;
    width: 213px;
    padding: 12px;
    align-self: flex-start;
    gap: 156px;
    color: var(--rosa);
    font-family: Goldman;
    font-size: var(--h2);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Norteam';
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
    font-weight: normal;
    font-style: normal;
}



.index .articulos_carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.index .articulos_carrusel .articulo img {
    width: 150px;
    height: 150px;
    margin-top: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.index .articulos_carrusel .articulo {
    display: flex;
    width: 213px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--9, 9px);
}


.index .articulos_carrusel .articulo h3 {
    color: var(--blanco);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: flex-start;
}


.index .articulos_carrusel .articulo p {
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    width: 330px;
    background-position: -838px -453px;

    color: var(--blanco);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.index .tutorial_video {
    display: flex;
    width: 328px;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    padding-bottom: 12px;
}


.index .tutorial_video .video {
    justify-content: center;
    height: 183px;
    margin-bottom: 12px;
}


.index .tutorial_video .contenido h3 {
    color: var(--blanco);
    font-size: var(--h3);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Norteam';
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
    font-weight: normal;
    font-style: normal;
}


.index .tutorial_video .contenido p:nth-child(1) {
    background-color: var(--rosa);
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
    font-family: 'FiraSans';
    src: url(../assets/fonts/FiraSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

.index .tutorial_video .contenido p:nth-child(3) {
    color: var(--blanco);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'FiraSans';
    src: url(../assets/fonts/FiraSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
}


.index .artistas_carrusel {
    display: flex;
    align-items: center;
    gap: var(--16, 16px);
}

.index .artistas_carrusel .artista {
    width: 99px;
    height: 125.5px;
}


.index .artistas_carrusel .artista h3 {
    color: var(--negro);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: var(--aqua);
}


.index .artistas_carrusel .artista img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*///////////////////////// leer_tutorial_video-mobile ///////////////////////////////////////////////////////////////////*/

.leer_tutorial_video-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0px 16 0 16;
    background-color: var(--azulOscuro);
    overflow-x: hidden;
    width: 100%;
    /* Ancho completo del viewport */
    max-width: 480px;
    /* Tamaño máximo móvil */
}

.leer_tutorial_video-mobile main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    /* Ajusta al ancho del contenedor */
}

.leer_tutorial_video-mobile .tutorial_principal {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
}

.leer_tutorial_video-mobile .tutorial_principal img {
    width: 328px;
    height: 183px;
}

.leer_tutorial_video-mobile .tutorial_principal p:nth-child(1) {
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    height: 23px;
    background-position: -838px -456px;
    color: var(--blanco);
    font-size: 16px;
    width: 63%;
    margin-top: 9px;
}

.leer_tutorial_video-mobile .tutorial_principal h1 {
    color: var(--blanco);
    font-size: 32px;
    width: 72%;
    margin-top: 9px;
}

.leer_tutorial_video-mobile .tutorial_principal p:nth-child(3) {
    color: var(--blanco);
    font-size: 16px;
    width: 79%;
    margin-top: 9px;
}

.leer_tutorial_video-mobile .subtitulo_tutorial {
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leer_tutorial_video-mobile .subtitulo_tutorial h2 {
    color: var(--amarillo);
    font-size: 24px;
    width: 65%;
    margin-top: 9px;
    margin-bottom: 12px;
}

.leer_tutorial_video-mobile .subtitulo_tutorial p {
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    width: 260px;
    height: 331px;
    background-position: -434px -103px;
    color: var(--azulOscuro);
    font-size: 16px;
}


/* ====================================================== */

/*-----------------------------------------------------------------*/

/*------------------------------GIANIS-----------------------------*/
.body_autores {
    background-color: var(--azulOscuro);
    position: relative;
    min-height: 100vh;
    /* Ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
}



.body_autores main {
    flex: 1;
    /* Permite que main ocupe el espacio restante entre el header y footer */
    margin-top: 100px;
    background-color: var(--azulOscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 9px;
}

.body_autores .autor_grupo_autores_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.body_autores .elipse_amarillo_autores {
    display: flex;
    background-color: var(--amarillo);
    justify-content: center;
    align-items: center;
    width: 180px;  /*este es el tamaño correcto segun los wireframes  */
    height: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.body_autores .elipse_amarillo_autores img {
    display: flex;
}

.body_autores .barra_artistas {
    background-color: var(--azulOscuro);
    color: var(--rosa);
    font-size: var(--h4);
    padding-top: 9px;
    padding-bottom: 9px;
    font-style: normal;
    font-family: 'Norteam';
    font-weight: lighter;
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
 
    

}

.body_autores .barra_artistas h6 {
    font-size: var(--h6);
}

/*=================================LEER_TUTOTIAL_ESCRITO_MOBILE=========================*/

.main_leer_tut_escrit_mob {
    background-color: var(--azulOscuro);
    width: 360px;
    min-height: 100vh; 
    padding: 21px;
    margin-bottom: 200px;
    padding-top: 100px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.primera_parte_leer_tut_escritomob {
    margin-bottom: 20px;
    text-align: center;
}

.imagen_leer_tut_escritomob {
    text-align: center;
}

.imagen_leer_tut_escritomob img {
    width: fit-content;
    height: 200px;
    margin-bottom: 31px;
}

.fecha {
    width: 249px;
    height: 32px;
    background-color: transparent;
    background-image: url('../assets/imagenes/Contenedores.svg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -738px -254px;
    font-size: var(--h6);
    text-align: right;
    margin-bottom: 12px;
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}

.barra_artistas {
    width: fit-content;
    height: 42px;
    font-size: 50px;
    align-items: center;
    gap: 10px;
    margin-bottom: 31px;
    color: var(--blanco);
    line-height: normal;
    font-family: 'Norteam';
    font-weight: normal;
    font-style: normal;
}

.primera_parte_leer_tut_escritomob p {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 332px;
    height: fit-content;
    color: var(--blanco);
}

.subtitulo_Leer_tut_escritomob {
    text-align: left;
}

.subtitulo_Leer_tut_escritomob h6 {
    font-size: var(--h6);
    font-family: 'FiraSans';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    background-image: url('../assets/imagenes/Contenedores.svg');
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: -835px -715px; 
    margin: 0;
    padding: 10px; 
    text-align: left; 
    color: var(--negro);
}

.subtitulo_Leer_tut_escritomob p {
    padding: 20px 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 328px;
    height: 311px;
    text-align: left;
    color: var(--blanco);
}


/* Se hizo css de artículos (Gianis 23/11) */
/*============================ARTICULOS=================================*/
.main_articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    width: 100%;
    padding: 16px;
}
.primerapart_articulos{
    display: flex;
    min-height: 708px;
    flex-direction: column;
}
.primerapart_articulos h1 {
    margin-top: 90px;
    font-family: 'Norteam';
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
    font-weight: normal;
    font-style: normal;
    font-size: var(--h3);
    margin-bottom: 9px;
    color: var(--blanco);
    height: auto;
    text-transform: uppercase;
}

.primerapart_articulos .imagen_articulos img {
    display: flex;
    width: 264px;
    height: 169px;
    align-self: flex-start;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.main_articulos p {
    margin-top: 9px;
    font-size: var(--p);
    margin-bottom: 25px;
    /* padding: 9px; */
    color: var(--blanco);
    font-family: 'FiraSans';
    src: url(../assets/fonts/FiraSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
}

.boton_LeerMas {
    background-color: var(--aqua);
    padding: 10px 16px;
    background-size: auto;
    border: none;
    font-size: var(--h6);
    color: var(--azulOscuro);
    align-self: flex-start;
    font-family: 'FiraSans';
}


.tercerapart_articulos h1 {
    font-family: 'Norteam';
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
    font-weight: normal;
    font-style: normal;
    font-size: var(--h3);
    margin-bottom: 9px;
    color: var(--blanco);
    height: auto;
    text-transform: uppercase;
}

.tercerapart_articulos .imagen_articulos {
    margin: 28px auto;
}

.tercerapart_articulos .imagen_articulos img {
    width: 264px;
    height: 169px;
    align-self: flex-start;
}




.body_articulos .articulos_carrusel {
    display: block;
    width: 100%;
    max-width: 375px;
    /* Adaptado para móvil */
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 16px;
    /* Ajustado para móvil */
    margin-bottom: 19px;
    margin-top: 30px;
}

.body_articulos .articulos_carrusel h2 {
    display: flex;
    margin-bottom: 19px;
    color: var(--amarillo);
    text-align: center;
    font-family: 'Norteam';
    src: url(../assets/fonts/norteam-norteam-texture-02-400.ttf);
    font-weight: normal;
    font-style: normal;
    font-size: var(--h3);
    justify-content: center;
}

.body_articulos .articulos_carrusel .articulo {
    width: 100%;
    /* Ajustado para móvil */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    background-color: var(--azulOscuro);
    /* Fondo de la tarjeta */
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    text-align: center;
}

.body_articulos .articulos_carrusel .articulo img {
    width: 100%;
    /* Imagen ajustada al contenedor */
    border-radius: 8px;
    margin-bottom: 8px;
}

.body_articulos .articulos_carrusel .articulo h3 {
    font-size: var(--h6);
    /* Título del artículo */
    margin-bottom: 8px;
    color: var(--blanco);
    margin-bottom: 25px;
}

.body_articulos .articulos_carrusel .articulo p {
    font-size: var(--p);
    /* Descripción del artículo */
    color: var(--blanco);
    line-height: 1.2;
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.swiper-slide {
    width: auto;
    flex-shrink: 0;
}

.swiper-pagination-bullet {
    background: #333;
}

.swiper-button-next,
.swiper-button-prev {
    color: #333;
}

/*========================================================================*/
/*------------------------------------------------------------------------*/

/*----------------------------------MIGUEL--------------------------------*/
/* ======================== LEER ARTICULOS MOVIL ============================= */
.Lectura_articulos {
    display: inline-flex;
    height: 2576px;
    min-width: 360px;
    min-height: 806px;
    padding: var(--16, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16, 16px);
    background: var(--azulOscuro);
}

.mainLectura {
    display: flex;
    padding: 32px 0px;
    padding-left: 50px;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    flex-shrink: 0;
}

.mainLectura .articulo_leer_prim {
    width: 328px;
    height: auto;


}

.mainLectura .articulo_leer_prim img {
    width: 327px;
    height: 201.5px;
    flex-shrink: 0;

}

.mainLectura .articulo_leer_prim .magenta1{
    background-color: #f20f7a;
    height: 360px;
    background-position: -52px -66px;
    width: 264px;
    flex-shrink: 0;
}

.mainLectura .articulo_leer_prim .magenta1 h6 {
    width: 225.343px;
    height: 38.55px;
    flex-shrink: 0;
    color: var(--azulOscuro);
    text-align: center;
    font-family: 'Fira Sans';
    font-size: var(--h6);
    font-style: bold;
    font-weight: 600;
    line-height: normal;
    padding-top: 20px;
    padding-bottom: 50px;
}

.mainLectura .articulo_leer_prim h5 {
    width: 235.284px;
    flex-shrink: 0;
    color: var(--blanco);
    font-family: 'Norteam';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 0;
    padding-left: 10px;
}

.mainLectura .articulo_leer_prim .magenta1 p {
    width: 220px;
    height: 261.441px;
    flex-shrink: 0;
    color: #10243F;
    font-family: 'Fira Sans';
    font-size: var(--p);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    padding-left: 20px;
}

.mainLectura .articulo_leer img {
    width: 327px;
    height: 200px;
    flex-shrink: 0;
    align-items: flex-start;
}

.mainLectura .articulo_leer .articulo_parrafo_lect {
    display: flex;
    width: 254px;
    height: auto;
    padding: var(--12, 12px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--12, 12px);
    flex-shrink: 0;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -52px -530px;
}

.mainLectura .articulo_leer .articulo_parrafo_lect2 {
    display: flex;
    width: auto;
    height: auto;
    padding: var(--12, 12px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--12, 12px);
    flex-shrink: 0;
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: -440px -90px;
    padding-bottom: 40px;
}

.mainLectura .articulo_leer .articulo_parrafo_lect .subtitulo_articulo_lect {
    display: flex;
    width: auto;
    padding: 0px var(--16, 16px);
    align-items: flex-start;
    gap: 10px;
}

.mainLectura .articulo_leer .articulo_parrafo_lect .subtitulo_articulo_lect h1 {
    color: var(--amarillo);
    font-size: 50px;
    font-family: 'Norteam';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px 0;
}

.mainLectura .articulo_leer .articulo_parrafo_lect .parrafo_articulo_lect {
    display: flex;
    background-color: var(--aqua);
    width: auto;
    height: auto;
    padding: var(--12, 12px);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}
.mainLectura .articulo_leer .articulo_parrafo_lect .parrafo_articulo_lect .aqua1{
    font-family: 'Fira Sans';
    font-size: var(--p);
}

.mainLectura .articulo_leer .articulo_parrafo_lect2{
    background-color: var(--rosa);
    width: 80%;
    height: auto;
}

.mainLectura .articulo_leer .articulo_parrafo_lect2 .parrafo_articulo_lect .magenta2{
    width: 220px;
    height: 261.441px;
    flex-shrink: 0;
    color: #10243F;
    font-family: 'Fira Sans';
    font-size: var(--p);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    padding-left: 20px;

}

/* SE AGREGO EL CSS (SE HABIA PERDIDO JIJU) 19/11/2024 Mgl */
/* ========================= TUTORIAL ================================= */
.bodytuto {
    display: flex;
    width: 360px;
    height: 2600px;
    padding: var(--16, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16, 16px);
    background: var(--azulOscuro);
}

.bodytuto .maintuto {
    display: flex;
    height: 2202px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}

.bodytuto .maintuto .sectiontuto {
    display: flex;
    width: 328px;
    height: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--12, 12px);
    flex-shrink: 0;
}

.bodytuto .maintuto .sectiontuto2 .videotuto .accesibilidad_tuto {
    margin-bottom: -80px;
    
}
.bodytuto .maintuto .sectiontuto .videotuto .accesibilidad_tuto {
    margin-bottom: -40px;
    
}
.bodytuto .maintuto .sectiontuto2 .videotuto {
    margin: 10px 0;
}

.bodytuto .maintuto .sectiontuto .videotuto video {
    width: 328px;
    height: 183px;
    flex-shrink: 0;
}

.bodytuto .maintuto .sectiontuto .videotuto h5 {
    width: 267px;
    background-color: #081426;
    height: 33px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: -100px;
    left: 30px;
}

.bodytuto .maintuto .sectiontuto .contenidotuto {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--9, 9px);
    flex-shrink: 0;
}

.bodytuto .maintuto .sectiontuto .contenidotuto .h6_tuto {
    background-color: var(--rosa);
    display: flex;
    width: 130px;
    height: 24px;
    padding: 0px var(--9, 9px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.bodytuto .maintuto .sectiontuto .contenidotuto .h6_tuto h6 {
    width: 104px;
    height: 20px;
    flex-shrink: 0;
    color: #081426;
    font-family: 'Fira Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bodytuto .maintuto .sectiontuto .contenidotuto .h2_tuto {
    display: flex;
    width: 326px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.bodytuto .maintuto .sectiontuto .contenidotuto .h2_tuto h2 {
    align-self: stretch;
    color: var(--blanco);
    font-family: 'Norteam';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bodytuto .maintuto .sectiontuto .contenidotuto .p_tuto {
    display: flex;
    width: 319px;
    height: 131px;
    padding: 0px 11px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--9, 9px);
    flex-shrink: 0;
    background-color: #0ff294;
}

.bodytuto .maintuto .sectiontuto .contenidotuto .p_tuto p {
    width: 308px;
    color: var(--azulOscuro);
    text-align: left;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: start;
    padding-right: 30px;
}

.bodytuto .maintuto .sectiontuto2 {
    display: flex;
    width: 328px;
    height: 551px;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--12, 12px);
    flex-shrink: 0;
}

.bodytuto .maintuto .sectiontuto2 video {
    width: 328px;
    height: 183px;
    flex-shrink: 0;

}

.bodytuto .maintuto .sectiontuto2 .videotuto .accesibilidad_tuto h5 {
    width: 267px;
    background-color: #081426;
    height: 33px;
    flex-shrink: 0;
    color: #FFF;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    top: -100px;
    left: 30px;
}

.bodytuto .maintuto .sectiontuto2 .contenidotuto2 {
    display: flex;
    width: 328px;
    height: 369px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--9, 9px);
    flex-shrink: 0;
    margin: 20px 0;
    padding-top: 70px;
}

.bodytuto .maintuto .sectiontuto2 .contenidotuto2 .h6_tuto2 {
    background-color: transparent;
    background-size: auto;
    background-repeat: no-repeat;
    clip-path: inset(0px 0px 0px 80px);
    height: auto;
    background-position: -650px -624px;
    display: flex;
    height: 29px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}


.bodytuto .maintuto .sectiontuto2 .contenidotuto2 .h6_tuto2 h6 {
    width: 130px;
    height: 23px;
    flex-shrink: 0;
    color: #000;
    background-color: var(--amarillo);
    text-align: right;
    font-family: 'Fira Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 10px;
}

.bodytuto .maintuto .sectiontuto2 .contenidotuto2 .h2_tuto2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.bodytuto .maintuto .sectiontuto2 .contenidotuto2 .h2_tuto2 h2 {
    align-self: stretch;
    color: #FFF;
    text-align: right;
    font-family: 'Norteam';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bodytuto .maintuto .sectiontuto2 .contenidotuto2 .p_tuto2 {
    display: flex;
    width: 328px;
    height: 184px;
    padding: 0px 11px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--9, 9px);
    flex-shrink: 0;
    background-color: #0ff294;
    margin-bottom: 90px;
}

.bodytuto .maintuto .sectiontuto2 .contenidotuto2 .p_tuto2 p {
    width: 308px;
    color: var(--azulOscuro);
    text-align: right;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0 10px;
}


/*     ==================================================================== */
/*------------------------------------------------------------------------*/
.index .articulos_carrusel,
.index .artistas_carrusel {
    display: block;
    width: 100%;
    max-width: 1572px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 49px;
}

.index .articulos_carrusel .articulo,
.index .artistas_carrusel .artista {
    width: 283.058px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--9, 9px);
}

.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}

.swiper-slide {
    width: auto;
    flex-shrink: 0;
}

.swiper-pagination-bullet {
    background: #333;
}

.swiper-button-next,
.swiper-button-prev {
    color: #333;
}






/*============================ Animaciones Igna ======================================== */
/*----------------------------------Scroll Trigger Sections--------------------------------------*/
.index {
    section {
        opacity: 0;
        /* Empezarán invisibles */
        transform: translateX(100%);
        /* Salen de la derecha por defecto */
        transition: transform 0.5s, opacity 0.5s;
    }

    /* Alterna entre entrar desde la izquierda y desde la derecha */
    .section-left {
        transform: translateX(-100%);
    }

    .section-right {
        transform: translateX(100%);
    }
}

/*----------------------------------Estilos de Prueba Header y Footer--------------------------------------*/
header .logo {
    width: 100px;
    height: 50px;
    padding-bottom: 15px;
}

header{
    position: fixed;
    display: inline-block;
    padding: 10px;
    height: 99px;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
    background-repeat: no-repeat;
    background-image: url("../assets/imagenes/fondoHeader.svg#svgView(preserveAspectRatio(none))");
    background-size: 100% 100%;
    background-position: 0 0;
}

footer {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 200px;
    width: 100vw;
    color: var(--blanco);
}

footer .info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 33px;
    padding: 12px;
    padding-right: 12px;
}



footer .fter_container {
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
    margin-right: 30px;
}

footer .canales {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-logo { 
    display: flex; 
    justify-content: center; 
    height: 50px; } 
.foot-logo img { 
    width: 218px; height: auto;
    margin-right: 0px;
}



/*----------------------------------Hover Video--------------------------------------*/
.index .tutorial_video .video video {
    justify-content: center;
    height: 200px;
    width: 100%;
}



/* ================== Animaciones Gabo ============ */

/* ================== adn-style =================== */

#animated-svg {
    position: fixed;
    /* Fijo para que siempre esté visible */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    opacity: 0.25;
    pointer-events: none;
}

/* ================== Estilos del menú hamburguesa =================== */
.contenido-bar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: var(--azulOscuro);
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow-y: auto;
}

.contenido-bar ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.contenido-bar ul li {
    display: flex;
    flex-direction: column;
    /* Submenú debajo del texto */
    padding: 10px 0;
    position: relative;
}

.contenido-bar ul li>div {
    display: flex;
    /* Texto y botón en línea */
    align-items: center;
    /* Alinear verticalmente */
    justify-content: space-between;
    /* Separar texto y botón */
}

.contenido-bar ul li>div>a {
    flex: 1;
    /* El enlace ocupa todo el espacio disponible */
    display: inline-block;
    color: var(--blanco);
    /* Color blanco */
    text-decoration: none;
    /* Sin subrayado */
    font-size: 16px;
    font-weight: bold;
}

.contenido-bar ul li>div>a:hover {
    color: #00E676;
    /* Color verde en hover */
}

.contenido-bar ul li .toggle-submenu {
    margin-left: 15px;
    /* Separar el botón del texto */
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--blanco);
    transition: transform 0.3s ease;
    align-self: flex-end;
    /* Mantener alineación con el texto */
}

.contenido-bar ul li:hover .toggle-submenu {
    transform: scale(1.2);
    /* Efecto al pasar el ratón */
}

.linea-dinamica {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    /* Ocultar inicialmente */
    height: 2px;
    background-color: #FF4081;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.contenido-bar ul li:hover .linea-dinamica {
    width: 100%;
    background-color: #00E676;
}

.submenu {
    display: none;
    /* Ocultar submenú por defecto */
    margin-top: 10px;
    /* Espacio para que aparezca debajo del enlace */
    padding-left: 20px;
    /* Desplazamiento hacia la derecha */
    border-left: 2px solid #FF4081;
    /*linea de la derecha*/
}

.submenu a {
    color: var(--blanco);
    /* Color blanco */
    text-decoration: none;
    /* Sin subrayado */
    font-size: 14px;
    /* Tamaño de fuente ligeramente menor si es necesario */
}

.submenu a:hover {
    color: #00E676;
    /* Cambiar a verde en hover */
    text-decoration: underline;
    /* Subrayado solo en hover si lo deseas */
    text-decoration: none;
}

.submenu.open {
    display: block;
    /* Mostrar submenú al activar */
}

.btn-barra-lateral {
    margin-top: 10px;
    margin-right: 5px;
    z-index: 101;
    cursor: pointer;
}

.hamburguesa {
    width: 30px;
    height: auto;
    background-color: transparent;
    display: block;
}

.btn-cerrar-menu {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--azulOscuro);
    color: #fff;
    transition: right 0.3s ease;
    z-index: 100;
    padding: 20px;
}

#menu.active {
    right: 0;
}

.header_final{
    display: flex;
    justify-content: space-between;
}