typo

variablees


header{
    border-bottom: 1px solid black;
}
/*VARIABLES*/
:root{
    --negro: black;
    --blanco: white;
    --rosa: rgb(183, 0, 86);
    --naranja: #F26D3D;
    --amarillo: #ECF213;
    --verde: #0ff294;
    --azul_oscuro: #081426;

    --movil: 375px;
    --tablet: 768px;
    --desktop: 1600px;
}
*{
    margin: 0;
}

a{
    text-decoration: none;
    color: var(--blanco);
}


/*//////////////////MOBILE/////////////////////////
/*Mobile menu responsive 1*/
@media screen and (min-width: 1600px) {
    body {
        background-color: var(--azul_oscuro);
        color: var(--blanco);
        width: 100%;
        justify-items: center;
        align-items: center;
        margin: auto;
    }
    h1{
        font-family: "Norteam";
        font-style: normal;
    }
    header{
        position: fixed;
        display: flex;
        padding: 10px;
        height: 356px;
        width: 100%;
        justify-content: space-between;
        background-image: url(../assets/imagenes/Vector\ 14.png), url(../assets/imagenes/Vector\ 15.png);
        background-repeat: no-repeat;
        background-size: 100% 356px, 50% 356px;
        background-position: top left, top right;
        z-index: 1000;
        top: 0;
        left: 0;
        margin: 0;
    }

    header > img{
        width: 30%;
        height: 188.16px;
        margin: 0px 30px;
    }
    header > .btn-barra-lateral > img{
        display: none;
    }
    
    header > .btn-barra-lateral > .contenido-bar{
        height: 100%;
        margin: 0px 10px;
    }
    header > .btn-barra-lateral > .contenido-bar > nav {
        height: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
        color: var(--blanco);
        margin-right: 50px;
    }
    header > .btn-barra-lateral > .contenido-bar > nav > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    header > .btn-barra-lateral > .contenido-bar > nav > ul > li {
        margin: 0px 5px;
        width: 50%;
        text-align: center;
    }
    header > .btn-barra-lateral > .contenido-bar > nav > ul > li > a{
        padding: 10px;
        color: var(--negro);
        width: 90%;
        height: auto;
        background-image: url(../assets/imagenes/Vector\ 21.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        display: block;
        text-decoration: none;
        font-size: 100%;
    }


    .contenido-bar {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        background-color: white;
        transition: right 0.3s ease;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        z-index: 100;
    }
    
    .contenido-bar ul {
        list-style: none;
        padding: 20px;
    }
    
    .contenido-bar ul li {
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
    }
    
    .contenido-bar ul li a {
        color: #333;
        text-decoration: none;
    }
    
    .contenido-bar.open {
        right: 0;
    }
    
    .btn-barra-lateral {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 101;
        cursor: pointer;
    }
    
    #menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100vh;
        background-color: var(--azulOscuro);
        color: #fff;
        transition: right 0.3s ease;
        z-index: 100;
        padding: 20px;
    }
    
    #menu.active {
        right: 0;
    }
    
    .btn-cerrar-menu {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    
    #btn-menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .hamburguesa {
        width: 30px;
        height: auto;
        background-color: transparent;
        display: block;
    }
    
    .btn-cerrar-menu {
        background-color: transparent;
        border: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    
    .submenu {
        display: none;
    }
    
    .submenu.open {
        display: block;
    }
    
    .toggle-submenu {
        background: none;
        border: none;
        color: black;
        font-size: inherit;
        cursor: pointer;
        padding: 0;
        margin: 0;
        float: right;
    }

    
    main{
        width: 70%;
        justify-items: center;
        align-items: center;
        margin: auto;
        margin-top: 396px;
    }


    footer{
        width: 100%;
    }
    footer > .fter_container{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }
    footer > .fter_container > .foot-logo{
        position: relative;
        left: 60px;
        width: 30%;
        height: 221px;
    }
    footer > .fter_container > .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    footer > .fter_container > .info > h4{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 25px;
    }
    footer > .fter_container > .canales{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer > .fter_container > .canales > img{
        margin-right: 50px;
        border-radius: 50%;
        width: 39.47px;
        height: 39.47px;
    }







    /* Index */

    .index > main > .articulo_principal > .imagen_de_fondo > img{
        height: 906px;
        width: 100%;
    }
    .index > main > .articulo_principal{
        text-align: center;
        height: 1403.76px;
        margin-bottom: 40px;
        width: 100%;
    }
    .index > main > .articulo_principal > .contenido_articulo > p{
        width: 90%;
        font-size: 30px;
        text-align: left;
        padding-bottom: 40px;
        font-family: "FiraSans";
        font-style: normal;
    }
    .index > main > .articulo_principal > .contenido_articulo > h1{
        width: 100%;
        font-size: 45px;
        text-align: left;
        margin-bottom: 30px;
    }
    .index > main > .articulo_principal > button{
        display: flex;
        font-size: 30px;
        background: none;
        border: none;
        background-color: var(--verde);
        background-size: 100% auto;
        width: 253px;
    }





    .index > main > .barra_de_separacion{
        position: relative;
        left: 0;
        width: 100%;
    }
    .index > main > .barra_de_separacion > h2{
        color: var(--blanco);
        font-size: 100px;
        display: flex;
        justify-content: start;
        align-items: center;
        left: 0;
        color: var(--rosa);
    }
    .index > main > .barra_de_separacion:nth-child(4){
        position: relative;
        left: 0;
        width: 100%;
    }






    .index > main > .articulos_carrusel.swiper > .swiper-wrapper{
        display: flex;
        text-align: center;
        overflow-y: hidden;
        width: 100%;
        height: 586px;
    }
    .index > main > .articulos_carrusel.swiper > .swiper-wrapper > .articulo.swiper-slide{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .index > main > .articulos_carrusel.swiper > .swiper-wrapper > .articulo.swiper-slide > img{
        height: 205px;
        width: 97%;
        margin-bottom: 15px;
    }
    .index > main > .articulos_carrusel.swiper > .swiper-wrapper > .articulo.swiper-slide > h3{
        margin-bottom: 15px;
    }
    .index > main > .articulos_carrusel.swiper > .swiper-wrapper > .articulo.swiper-slide > p{
        padding-bottom: 15px;
    }





    .index > main > .tutorial_video{
        margin: 50px;
        width: 100%;
    }
    .index > main > .tutorial_video > .video > video{
        width: 100%;
        height: auto;
    }
    .index > main > .tutorial_video > .contenido{
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .index > main > .tutorial_video > .contenido > p:nth-child(1){
        margin-bottom: 15px;
        font-size: 25px;
        background-image: url(../assets/imagenes/barrita\ fechas\ cawm3.png);
        background-repeat: no-repeat;
        background-size: 30% 40px;
    }
    .index > main > .tutorial_video > .contenido > h3{
        margin-bottom: 15px;
        font-size: 45px;
        width: 100%;
    }
    .index > main > .tutorial_video > .contenido > p{
        margin-bottom: 15px;
        font-size: 25px;
    }





    .index > main > .artistas_carrusel.swiper > .swiper-wrapper{
        display: flex;
        margin: 50px;
        width: 100%;
        height: auto;

    }
    .index > main > .artistas_carrusel.swiper > .swiper-wrapper > .artista.swiper-slide{
        display: flex;
        flex-direction: column;
        margin: 40px;
    }
    .index > main > .artistas_carrusel.swiper > .swiper-wrapper > .artista.swiper-slide > img{
        height: 391px;
        width: 100%;
        margin-bottom: 40px;
    }
    .index > main > .artistas_carrusel.swiper > .swiper-wrapper > .artista.swiper-slide > h3{
        text-align: center;
        font-size: 40px;
        width: 100%;
        height: auto;
        background-image: url(../assets/imagenes/Vector\ 24.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        text-align: center;
    }    


    

    /* Casos de Exito - Articulos*/
    
    .main_articulos > .articulos_carrusel.swiper{
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
    }
    .main_articulos > .articulos_carrusel.swiper > h2{
        color: var(--rosa);
        font-size: 130px;
        display: flex;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 40px 0;
    }
    .main_articulos > .articulos_carrusel.swiper > .swiper-wrapper{
        display: flex;
        width: 100%;
    }
    .main_articulos > .articulos_carrusel.swiper > .swiper-wrapper > .articulo.swiper-slide{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .main_articulos > .articulos_carrusel.swiper > .swiper-wrapper > .articulo.swiper-slide > img{
        width: 100%;
        height: 434px;
    }
    .main_articulos > .articulos_carrusel.swiper > .swiper-wrapper > .articulo.swiper-slide > h3{
        font-size: 35px;
        margin: 20px 0;
    }
    .main_articulos > .articulos_carrusel.swiper > .swiper-wrapper > .articulo.swiper-slide > p{
        font-size: 30px;
    }
    .main_articulos > .primerapart_articulos > h1{
        justify-items: center;
        align-items: center;
        width: 100%;
        font-size: 35px;
    }
    .main_articulos > .primerapart_articulos > .imagen_articulos > img{
        width: 100%;
        height: 1282px;
    }
    .main_articulos > .primerapart_articulos > article > p{
        font-size: 30px;
        width: 100%;
        padding: 15px;
    }
    .main_articulos > .primerapart_articulos > button{
        font-size: 40px;
        background: none;
        border: none;
        background-color: var(--verde);
        background-size: 100% auto;
        padding: 0 30px;
        margin: 40px 0;
    }
    .main_articulos > .tercerapart_articulos{
        margin-top: 40px;
    }
    .main_articulos > .tercerapart_articulos > h1{
        font-size: 35px;
        margin-top: 40px;
    }
    .main_articulos > .tercerapart_articulos > .imagen_articulos > img{
        width: 100%;
        height: 1205px;
    }
    .main_articulos > .tercerapart_articulos > article > p{
        font-size: 30px;
        width: 100%;
        padding: 15px;
    }
    .main_articulos > .tercerapart_articulos > button{
        font-size: 40px;
        background: none;
        border: none;
        background-color: var(--verde);
        background-size: 100% auto;
        padding: 0 30px;
        margin: 40px 0;
    }



    /* Leer Articulo */

    .mainLectura > .articulo_leer_prim > img{
        height: 972px;
        width: 100%;
    }
    .mainLectura > .articulo_leer_prim > .prim_contenido > h5{
        margin-bottom: 20px;
        font-size: 70px;
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 20px;
    }
    .mainLectura > .articulo_leer_prim > .prim_contenido > h6{
        margin-top: 40px;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 100%;
        font-size: 55px;
    }
    .mainLectura > .articulo_leer_prim > .prim_contenido > p{
        margin-top: 70px;
        width: 100%;
        padding-bottom: 20px;
        font-size: 40px;
    }


    .mainLectura > .articulo_leer > img{
        width: 100%;
        height: auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .mainLectura > .articulo_leer > .articulo_parrafo_lect > .subtitulo_articulo_lect > h6{
        margin-bottom: 60px;
        justify-content: center;
        align-items: center;
        font-size: 55px;
    }
    .mainLectura > .articulo_leer > .articulo_parrafo_lect > .parrafo_articulo_lect > p{
        font-size: 40px;
        width: 100%;
        height: auto;
        background-image: url(../assets/imagenes/Vector\ 33-4.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    



    /*Tutorial*/
    .bodytuto > .maintuto > .sectiontuto2{
        width: 100%;
        margin-bottom: 40px;
    }
    .bodytuto > .maintuto > .sectiontuto2 > .videotuto > video{
        width: 100%;
        height: auto;
        margin-bottom: -100px;
    }
    .bodytuto > .maintuto > .sectiontuto2 > .videotuto > .accesibilidad_tuto{
        width: 50%;
        background-color: var(--azul_oscuro);
        position: relative;
        top: -200px;
        font-size: 45px;
        left: 300px;
    }
    .bodytuto > .maintuto > .sectiontuto2 > .contenidotuto2 > .h6_tuto2{
        font-size: 45px;
        background-image: url(../assets/imagenes/barrita\ fechas\ cawm4.png);
        background-repeat: no-repeat;
        background-size: 30% auto;
    }
    .bodytuto > .maintuto > .sectiontuto2 > .contenidotuto2 > .h6_tuto2 > h6{
        color: var(--negro);
    }
    .bodytuto > .maintuto > .sectiontuto2 > .contenidotuto2 > .h2_tuto2{
        font-size: 65px;
    }
    .bodytuto > .maintuto > .sectiontuto2 > .contenidotuto2 > .p_tuto2{
        font-size: 25px;
        background-image: url(../assets/imagenes/Vector\ 52.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    .bodytuto > .maintuto > .sectiontuto{
        width: 100%;
        margin-bottom: 40px;
    }
    .bodytuto > .maintuto > .sectiontuto > .videotuto > video{
        width: 100%;
        height: auto;
        margin-bottom: -100px;
    }
    .bodytuto > .maintuto > .sectiontuto > .videotuto > .accesibilidad_tuto{
        width: 50%;
        background-color: var(--azul_oscuro);
        position: relative;
        top: -200px;
        font-size: 45px;
        left: 300px;
    }
    .bodytuto > .maintuto > .sectiontuto > .contenidotuto{
        text-align: right;
    }
    .bodytuto > .maintuto > .sectiontuto > .contenidotuto > .h6_tuto{
        font-size: 45px;
        background-image: url(../assets/imagenes/barrita\ fechas\ cawm3.png);
        background-repeat: no-repeat;
        background-size: 30% auto;
        background-position: right;
    }
    .bodytuto > .maintuto > .sectiontuto > .contenidotuto > .h6_tuto > h6{
        position: relative;
        right: 50px;
    }
    .bodytuto > .maintuto > .sectiontuto > .contenidotuto > .h2_tuto{
        font-size: 65px;
    }
    .bodytuto > .maintuto > .sectiontuto > .contenidotuto > .p_tuto{
        font-size: 25px;
        background-image: url(../assets/imagenes/Vector\ 52.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }





    /*Leer-Tutoriales-Video*/
    .leer_tutorial_video-mobile > main > .tutorial_principal > img{
        width: 100%;
        height: 914px;
    }
    .leer_tutorial_video-mobile > main > .tutorial_principal > .contenido_tutorial_principal{
        margin-top: 40px;
    }
    .leer_tutorial_video-mobile > main > .tutorial_principal > .contenido_tutorial_principal > p:nth-child(1){
        background-image: url(../assets/imagenes/barrita\ fechas\ cawm3.png);
        background-repeat: no-repeat;
        background-size: 20% 30px;
        font-size: 25px;
    }
    .leer_tutorial_video-mobile > main > .tutorial_principal > .contenido_tutorial_principal > h1{
        margin-top: 20px;
        font-size: 45px;
    }
    .leer_tutorial_video-mobile > main > .tutorial_principal > .contenido_tutorial_principal > p{
        margin-top: 20px;
        font-size: 25px;
    }
    .leer_tutorial_video-mobile > main > .subtitulo_tutorial{
        margin-top: 40px;
    }
    .leer_tutorial_video-mobile > main > .subtitulo_tutorial > h2{
        font-size: 35px;
        color: var(--amarillo);
    }
    .leer_tutorial_video-mobile > main > .subtitulo_tutorial > p{
        font-size: 25px;
        margin-top: 20px;
        background-image: url(../assets/imagenes/Vector\ 33-4.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }



    /*Leer-Tutorial-Escrito*/
    .main_leer_tut_escrit_mob > .primera_parte_leer_tut_escritomob > .imagen_leer_tut_escritomob > img{
        width: 100%;
        height: 899px;
    }
    .main_leer_tut_escrit_mob > .primera_parte_leer_tut_escritomob > .fecha{
        text-align: center;
        width: 100%;
    }
    .main_leer_tut_escrit_mob > .primera_parte_leer_tut_escritomob > .fecha > h6{
        background-image: url(../assets/imagenes/barrita\ fechas\ cawm5.png);
        background-repeat: no-repeat;
        background-size: 50% auto;
        background-position: bottom;
        width: 100%;
        height: auto;
        font-size: 45px;
        text-align: center;
        color: var(--negro);
    }
    .main_leer_tut_escrit_mob > .primera_parte_leer_tut_escritomob > .barra_artistas > h4{
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
    }
    .main_leer_tut_escrit_mob > .primera_parte_leer_tut_escritomob > article > p{
        font-size: 45px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .main_leer_tut_escrit_mob > .subtitulo_Leer_tut_escritomob{
        margin: 40px;
    }
    .main_leer_tut_escrit_mob > .subtitulo_Leer_tut_escritomob > .tutorial.contenedor > article > h6{
        background-image: url(../assets/imagenes/Vector\ 55.png);
        background-repeat: no-repeat;
        background-size: 70% 50px;
        width: 100%;
        height: auto;
        font-size: 45px;
        color: var(--negro);
        align-items: center;
    }
    .main_leer_tut_escrit_mob > .subtitulo_Leer_tut_escritomob > .tutorial.contenedor > article > p{
        font-size: 25px;
        margin-top: 30px;
    }




    /*Autores*/


    .body_autores > main > .autores_contenedor{
        display: flex;
    }
    .body_autores > main > .autores_contenedor > .autor_grupo_autores_mobile{
        padding: 60px;
    }
    .body_autores > main > .autores_contenedor > .autor_grupo_autores_mobile > .img_autores > .elipse_amarillo_autores{
        background-color: var(--amarillo);
        width: 485px;
        height: 470px;
        border-radius: 50%;
        align-content: center;
        margin: 10px 25px 50px 25px;
    }
    .body_autores > main > .autores_contenedor > .autor_grupo_autores_mobile > .img_autores > .elipse_amarillo_autores > img{
        width: 471px;
        height: 322px;
        align-items: center;
    }
    .body_autores > main > .autores_contenedor > .autor_grupo_autores_mobile > .barra_artistas{
        color: var(--rosa);
        width: 485px;
        height: 87px;
    }
    .body_autores > main > .autores_contenedor > .autor_grupo_autores_mobile > .barra_artistas > h6{
        font-size: 50px;
        text-align: center;
        position: relative;
        top: 10px;
    }




    /* Informacion */

    .main-info > h1{
        font-size: 55px;
        margin-bottom: 40px;
    }
    .main-info > .info{
        background-color: var(--verde);
        background-size: 100% auto;
        margin-bottom: 40px;
    }
    .main-info > .info > p{
        margin-top: 40px;
        font-size: 25px;
    }
    .main-info > .info > img{
        height: 1098px;
        width: 100%;
    }
    .main-info > .grupos-info{
        display: flex;
        flex-direction: column;
    }
    .main-info > .grupos-info > .grupo-info{
        margin-bottom: 40px;
    }
    .main-info > .grupos-info > .grupo-info > figure{
        background-color: var(--amarillo);
        width: 485px;
        height: 470px;
        border-radius: 50%;
        align-content: center;
        margin: 10px 25px 50px 25px;
    }
    .main-info > .grupos-info > .grupo-info > h2{
        background-image: url(../assets/imagenes/Vector\ 18.png);
        background-repeat: no-repeat;
        background-size: 100% 50px;
        font-size: 35px;
    }



    /* Sign-up */

    .singin {
        width: 100%;
        max-width: 360px; 
        padding: 16px 24px;
        text-align: center;
        margin: 0 180px;
    }
    .singin > form > h1{
        color: var(--rosa);
        margin-bottom: 40px;
    }
    
    
    .singin input[type="email"],
    .singin input[type="tel"],
    .singin input[type="text"],
    .singin input[type="password"] {
        display: block;
        width: 300px;
        height: 60px;
        margin-bottom: 30px;
        background: none;
        background-image: url(../assets/imagenes/Vector\ 62.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        border: none;
    }
    
    .singin .orwith {
        color: var(--blanco);
        text-align: center;
    }
    
    .singin #show-password {
        margin-left: -70px;
    }
    
    .singin label[for="show-password"] {
        display: inline-block;
        margin-bottom: 20px;
        color: var(--blanco);
        font-size: 14px;
    }
    .singin> form > .check{
            
    }
    .singin .orwith{
        font-size: 17px;
    }
    .singin button{
        margin: 8px;
    }
    .singin .center{
        font-size: 15px;
    }
    .singin> form > button{
        text-align: center;
        width: 100%;
        height: 30px;
        font-size: 17px;
        background: none;
        border: none;
        background-image: url(../assets/imagenes/Vector\ 21.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
    }



    /* Log-in */

    .login .email form button{
        text-align: center;
        width: 100%;
        height: 30px;
        font-size: 17px;
        background: none;
        border: none;
        background-image: url(../assets/imagenes/Vector\ 21.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-bottom: 20px;
    }
    .login {
        padding: 16px;
        width: 100%;
        margin: 10px;
    }
    .login > .email > form > h1{
        text-align: center;
        color: var(--rosa);
        margin-bottom: 40px;
    }
    .login > .email > form > p{
        margin-bottom: 40px;
        text-align: center;
    }
    .login > .email > form > .recordar{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .login input[type="email"],
    .login input[type="password"] {
        display: block;
        width: 300px;
        height: 60px;
        margin-bottom: 30px;
        background: none;
        background-image: url(../assets/imagenes/Vector\ 62.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
        border: none;
    }

}