:root {
    --font: ;
    --blanco: #ffff;
    --blanco: #ffff;
    --rosa: #f20f7a;
    --azulOscuro: #11243f;
    --azulMedio: #1e6c70;
    --aqua: #0ff294;
    --amarillo: #ecf213;
    --negro: black;
    --h1: 89.76px;
    --h2: 67.34px;
    --h3: 50.52px;
    --h4: 37.9px;
    --h5: 28.43px;
    --h6: 21.33px;
    --p: 16px;

    --movil: 375px;
    --tablet: 768px;
    --desktop: 1600px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*===============================MEDIA QUERY TABLET===========================================*/
@media (min-width: 377px) and (max-width: 768px)
{
/*SETEO PARA MÁRGENES GENERALES*/
    main {
        display: flex;
        flex-direction: column;
        gap: 28px;
        margin: 16px 16px;
    }
    h1, h2, p{
        color: var(--blanco);
    }
    body{
        background-color: var(--azulOscuro);
        color: var(--blanco);
    }
    button[type="submit"] {
    width: 100%;
    height: 48px;
    background-color: var(--amarillo);
    border: none;
    font-size: var(--h6);
    color: var(--azulOscuro);
}
/*INDEX - NO TERMINADO*/

    .index {
        display: flex;
        width: 100%;
        height: auto;
        max-width: unset;
        min-height: unset;
        padding: 0;
        flex-direction: column;
        align-items: center;
        gap: var(--28, 28px);
        background-color:var(--azulOscuro);
    }
    .index .articulo_principal{
        display: flex;
        width: 100%;
        height: auto;
        padding: 0px var(--9, 9px) var(--9, 9px) var(--9, 9px);
        flex-direction: column;
        align-items: flex-start;
        gap: -61px;
        align-self: stretch;
    }
    .movil{
        margin: 0 175px;
    }
/*ARTICULOS-NO TERMINADO*/

.main_articulos .primerapart_articulos {
    display: flex;
    flex-direction: column;
    width: 725px;
    height: 465px;
    justify-content: center;
    margin: 0;
    background-color: grey;
}

.main_articulos .primerapart_articulos .contenido1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 66px;
}

.main_articulos .primerapart_articulos .contenido1 h2 {
    font-size: var(--h2);
}

.segundapart_articulos {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
}


.segundapart_articulos article h2 {
    font-size: var(--h6);
    margin-bottom: 28px;
    background-color: grey;
    padding: 9px 12px;
}


.segundapart_articulos article .contenedor {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}


.segundapart_articulos article .contenedor .contenido {
    width: 296px;
    display: flex;
    flex-direction: column;
    /* /align-items: center;/ */
}


.segundapart_articulos article .contenedor .contenido p {
    margin: 0;
}


.segundapart_articulos article .contenedor .contenido img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.tercerapart_articulos figure img {
    display: none;
}


/* /DISPLAY DE ARTICULOS CON IMAGEN DE FONDO/ */
.tercerapart_articulos {
    display: flex;
    flex-direction: column;
    gap: 28px;
}


.tercerapart_articulos .contenedor {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: lightgreen;
    width: 100%;
    height: 465px;
    justify-content: center;
    align-items: flex-start;
}


.tercerapart_articulos .contenedor .contenido {
    width: 396px;
    margin-left: 65px;
}


.tercerapart_articulos .contenedor .contenido h2 {
    font-size: var(--h2);
}

/*==========LEER ARTÍCULOS: TABLET===========*/
main{
    margin: 0;
}
   .Lectura_articulos {
    display: inline-flex;
    width: 100%;
    height: auto;
    min-width: unset;
    min-height: unset;
    padding: var(--16, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--16, 16px);
   
}

.mainLectura {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
}

.mainLectura .articulo_leer_prim {
    width: 100%;
    height: auto;


}

.mainLectura .articulo_leer_prim img {
    width: 100%;
    height: 431px;

}

.mainLectura .articulo_leer_prim .prim_contenido {
    background-color: var(--rosa);
    
}

.mainLectura .articulo_leer_prim .prim_contenido h6 {
    color: var(--azulOscuro);
    text-align: center;
    font-size: var(--h6);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainLectura .articulo_leer_prim .prim_contenido h5 {
    color: var(--blanco);
    font-size: var(--h6);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainLectura .articulo_leer_prim .prim_contenido p {
    color: var(--azulOscuro);
    text-align: center;
    font-size: var(--p);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainLectura .articulo_leer img {
    width: 100%;
    height: 434px;
    flex-shrink: 0;
    align-items: flex-start;
}

.mainLectura .articulo_leer .articulo_parrafo_lect {
    display: flex;
    width: 667px;
    height: auto;
    padding: var(--12, 12px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--12, 12px);
    flex-shrink: 0;
    background-color: #0ff294;
}

.mainLectura .articulo_leer .articulo_parrafo_lect .subtitulo_articulo_lect {
    display: flex;
    width: auto;
    padding: 0px var(--16, 16px);
    align-items: flex-start;
    gap: 10px;
    background: #D9D9D9;
}

.mainLectura .articulo_leer .articulo_parrafo_lect .subtitulo_articulo_lect h6 {
    color: var(--negro);
    font-size: var(--h6);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainLectura .articulo_leer .articulo_parrafo_lect .parrafo_articulo_lect {
    display: flex;
    width: auto;
    height: auto;
    padding: var(--12, 12px);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    background: #D9D9D9;
}

.mainLectura .articulo_leer .articulo_parrafo_lect .parrafo_articulo_lect p {
    color: var(--negro);
    font-size: var(--p);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*==========AUTORES: TABLET===========*/
.body_autores {
    background-color: var(--azulOscuro);
    width: var(--movil);
    position: relative;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    
    header {
        background-color: #FFF;
        position: fixed;
        top: 0;
        width: 100%;
        height: 60px;
        
        li {
            display: inline;
        }
    }
    
    footer {
        background-color: black;
        bottom: 0;
        width: 100%;
        height: 262px;
    }
    
    main {
        flex: 1; /* Permite que main ocupe el espacio restante entre el header y footer */
        margin-top: 70px;
        background-color: var(--aqua);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 9px;
        
        .autor_grupo_autores_mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 16px;
            
            .elipse_amarillo_autores {
                display: flex;
                background-color: var(--amarillo);
                justify-content: center;
                align-items: center;
                width: 213px;
                height: 213px;
                border-radius: 50%;
                margin-bottom: 10px;
                img {
                    background-color: gray;
                    width: 100px;
                    height: 100px;
                    display: flex;
                }
            }
            .barra_artistas{
                background-color: var(--rosa);
                width: 160px;
                height: 34px;
                padding-top: 9;
                padding-bottom: 9;
                padding-left: 12;
                padding-right: 12;
                h6{
                    font-size: var(--h6);
                }
            }
        }
    }
}

/*========Configuracion para la pantalla Sign up y log in=====================*/
.movil {
    width: var(--movil);
    background-color: var(--azulOscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 0 16px; 
}
.login {
    width: 100%;
    max-width: 360px; 
    background-color: var(--rosa);
    padding-left:16px;
    padding-right: 16px;
}

.login label {
    display: block;
    font-size: var(--p);
    margin-bottom: 8px; 
}

.login input[type="email"],
.login input[type="password"] {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 12px; 
    background-color: var(--aqua);
    border: none;
    margin-bottom: 30px; 
    font-size: var(--p);
}
::placeholder{
    color: var(--azulOscuro);
}

button[type="submit"] {
    width: 100%;
    height: 48px;
    background-color: var(--amarillo);
    border: none;
    font-size: var(--h6);
    color: var(--azulOscuro);

}


.recordar {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px; 
    color: var(--blanco);
}
.recordar a{
    color: var(--blanco);
}

.center {
    text-align: center;
    color: var(--blanco);
}
.center a {
    color: var(--blanco);
}
.orwith{
    text-align: center;
    color: var(--blanco);
    font-size: var(--h6);
    margin-top: 15px;
    margin-bottom: 15px;
}

.singin {
    width: 100%;
    max-width: 360px; 
    background-color: var(--rosa);
    padding: 16px 24px;
    text-align: center;
}

.singin input[type="email"],
.singin input[type="tel"],
.singin input[type="text"],
.singin input[type="password"] {
    display: block;
    width: 284px;
    height: 48px;
    margin-bottom: 30px;
    background-color: var(--aqua);
    border: none;
}

.singin .orwith {
    color: var(--blanco);
    text-align: center;
}

.singin #show-password {
    margin-left: -70px;
}

.singin label[for="show-password"] {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--blanco);
    font-size: 14px;
}
.singin> form > .check{
        
}
.singin .orwith{
    font-size: 17px;
}
.singin button{
    margin: 8px;
}
.singin .center{
    font-size: 15px;
}
.singin> form > button{
   text-align: center;
    width: 165px;
    height: 30px;
    font-size: 17px;
}

.login .email form button{
    text-align: center;
}
.login > .email> form > .orwith{
    font-size: 17px;
}
.login > .email> form > button{
    width: 300px;
    height: 30px;
    font-size: 17px;
}
.login > .email> form > button{
    margin: 8px;
    
}
}