:root {
    --font: ;
    --blanco: #ffff;
    --blanco: #ffff;
    --rosa: #f20f7a;
    --azulOscuro: #081426;
    --azulMedio: #1e6c70;
    --aqua: #0ff294;
    --amarillo: #ecf213;
    --negro: black;
    --h1: 5.610rem;
    --h2: 4.209rem;
    --h3: 3.157rem;
    --h4: 2.369rem;
    --h5: 1.777rem;
    --h6: 1.333rem;
    --p: 1rem;
    --h1t: 47px;
    --pt: 33px;
    --lheightTitle: 1.5;
    --movil: 375px;
    --tablet: 768px;
    --desktop: 1600px;
}
.cyan1{
    background-color: var(--aqua);
}
.cyan2{
    background-color: var(--aqua);
}
.cyan3{
    background-color: var(--aqua);
}
.cyan4{
    background-color: var(--aqua);
}
.cyan5{
    background-color: var(--aqua);
}
.cyan6 {
  position: relative;
  width: 330px;
  background-color: var(--aqua);
  box-sizing: border-box;
  margin-top: 30px;
  overflow: hidden;
  z-index: 1; /* Apilar el contenido principal por encima */
}

.cyan6::before, .cyan6::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: -1; /* Asegúrate de que estén detrás del contenido principal */
}

.cyan6::before {
  top: 0;
  height: 80px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="330" height="80"><path d="M330 559.5H54.8338L0 534V255.918V30.5L64.3051 15.5L171.48 22.5L228.807 0L282.644 29.5L330 68.5V559.5Z" fill="%230FF294"/></svg>');
  background-color: var(--azulOscuro);
}

.cyan6::after {
  bottom: 0;
  height: 30px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="330" height="30"><path d="M330 30H54.8338L0 4V0L330 0V30Z" fill="%230FF294"/></svg>');
  background-color: var(--azulOscuro);
}

.magenta1{
  background-color: #f20f7a;
}
  
.magenta1{
    background-color: var(--rosa);
}
.magenta2{
    background-color: var(--rosa);
}
.magenta3{
    background-color: var(--rosa);
}

.inputs{
    width: 100%; /* Ajusta el ancho del input */
    height: 40px; /* Ajusta la altura del input */
    padding-left: 10px; /* Asegura que el texto no se superponga con la imagen */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1200"><path d="M838 1157.04L845.13 1201H982.971L990.695 1196.45H1122L1115.46 1153H990.695L982.971 1157.04H838Z" fill="#081426" stroke="#0EF293" stroke-width="3"/></svg>'); /* SVG inline con la ruta específica */
    background-size: cover; /* Asegura que la imagen cubra todo el input */
    background-position: center; /* Centra la imagen en el input */
    color: #333; /* Color del texto */
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye el padding y el borde en las dimensiones del input */
  }
  