:root {
    --font: ;
    --blanco: #ffff;
    --blanco: #ffff;
    --rosa: #f20f7a;
    --azulOscuro: #081426;
    --azulMedio: #1e6c70;
    --aqua: #0ff294;
    --amarillo: #ecf213;
    --negro: black;
    --h1: 5.610rem;
    --h2: 4.209rem;
    --h3: 3.157rem;
    --h4: 2.369rem;
    --h5: 1.777rem;
    --h6: 1.333rem;
    --p: 1rem;
    --h1t: 47px;
    --pt: 33px;
    --lheightTitle: 1.5;
    --movil: 375px;
    --tablet: 768px;
    --desktop: 1600px;
}
.cyan1{
    background-color: var(--aqua);
}
.cyan2{
    background-color: var(--aqua);
}
.cyan3{
    background-color: var(--aqua);
}
.cyan4{
    background-color: var(--aqua);
}
.cyan5{
    background-color: var(--aqua);
}
.cyan6{
    background-color: var(--aqua);
}
.magenta1{
    background-color: var(--rosa);
}
.magenta2{
    background-color: var(--rosa);
}
.magenta3{
    background-color: var(--rosa);
}